openapi: 3.2.0
info:
  title: SyllableSDK Conversation Config API
  description: "\n# Syllable Platform SDK\n\nSyllable SDK gives you the power of awesome AI agentry. \U0001F680\n\n## Overview\n\nThe Syllable SDK provides a comprehensive set of tools and APIs to integrate powerful AI\ncapabilities into your communication applications. Whether you're building phone agents, chatbots,\nvirtual assistants, or any other AI-driven solutions, Syllable SDK has got you covered.\n\n## Features\n\n- **Agent Configuration**: Create and manage agents that can interact with users across various \nchannels.\n- **Channel Management**: Configure channels like SMS, web chat, and more to connect agents with \nusers.\n- **Custom Messages**: Set up custom messages that agents can deliver as greetings or responses.\n- **Conversations**: Track and manage conversations between users and agents, including session \nmanagement.\n- **Tools and Workflows**: Leverage tools and workflows to enhance agent capabilities, such as data \nprocessing and API calls.\n- **Data Sources**: Integrate data sources to provide agents with additional context and \ninformation.\n- **Insights and Analytics**: Analyze conversations and sessions to gain insights into user \ninteractions.\n- **Permissions and Security**: Manage permissions to control access to various features and \nfunctionalities.\n- **Language Support**: Define language groups to enable multilingual support for agents.\n- **Outbound Campaigns**: Create and manage outbound communication campaigns to reach users \neffectively.\n- **Session Labels**: Label sessions with evaluations of quality and descriptions of issues \nencountered.\n- **Incident Management**: Track and manage incidents related to agent interactions.\n"
  version: 0.0.3
servers:
- url: https://api.syllable.cloud
  description: API server
tags:
- name: conversation-config
paths:
  /api/v1/conversation-config/bridges:
    get:
      tags:
      - conversation-config
      summary: Get Bridge Phrases Config
      description: Get the bridge phrases configuration.
      operationId: get_bridge_phrases_config
      security:
      - APIKeyHeader: []
      parameters:
      - name: agent_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Agent ID to fetch config for
          title: Agent Id
        description: Agent ID to fetch config for
      - name: tool_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Tool name to fetch config for
          title: Tool Name
        description: Tool name to fetch config for
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgePhrasesConfig'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.conversation_config.get_bridge_phrases_config()\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.conversationConfig.getBridgePhrasesConfig({});\n\n  console.log(result);\n}\n\nrun();"
    put:
      tags:
      - conversation-config
      summary: Update Bridge Phrases Config
      description: Update the bridge phrases configuration.
      operationId: update_bridge_phrases_config
      security:
      - APIKeyHeader: []
      parameters:
      - name: agent_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Agent ID to update config for
          title: Agent Id
        description: Agent ID to update config for
      - name: tool_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Tool name to update config for
          title: Tool Name
        description: Tool name to update config for
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BridgePhrasesConfig'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgePhrasesConfig'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.conversation_config.update_bridge_phrases_config(bridge_phrases_config={})\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.conversationConfig.updateBridgePhrasesConfig({\n    bridgePhrasesConfig: {},\n  });\n\n  console.log(result);\n}\n\nrun();"
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    BridgePhrasesConfig:
      properties:
        messages:
          items:
            type: string
          type: array
          title: Messages
          description: Unified ordered bridge phrases. If empty, legacy fields are used.
        randomize_messages:
          type: boolean
          title: Randomize Messages
          description: When true, unified messages are played in randomized no-repeat cycles. Ignored when unified messages are disabled.
          default: false
        first_slow_messages:
          items:
            type: string
          type: array
          title: First Slow Messages
          description: Messages to say when the agent is first delayed.
        very_slow_messages:
          items:
            type: string
          type: array
          title: Very Slow Messages
          description: Messages to say when the agent is significantly delayed.
        tool_responses:
          items:
            type: string
          type: array
          title: Tool Responses
          description: Messages to say when a tool call is in progress.
        localized:
          additionalProperties:
            $ref: '#/components/schemas/schemas__cortex__v1__bridge_phrases__BridgePhraseMessages'
          type: object
          title: Localized
          description: Per-language overrides keyed by BCP-47 tag (e.g. "es-US").
        smart_turn_timeout_seconds:
          anyOf:
          - type: number
            maximum: 30
            minimum: 0.25
          - type: 'null'
          title: Smart Turn Timeout Seconds
          description: Seconds of caller silence before injecting the first bridge phrase. Subsequent sleep intervals are 2x, 3x, 4x this base. When unset, the service-wide default applies.
      type: object
      title: BridgePhrasesConfig
      description: 'Configuration for conversational bridge phrases.


        Top-level fields are the default (English) phrases.

        The `localized` dict provides per-language overrides keyed by BCP-47 language tag.'
    schemas__cortex__v1__bridge_phrases__BridgePhraseMessages:
      properties:
        messages:
          items:
            type: string
          type: array
          title: Messages
          description: Unified ordered bridge phrases. If empty, legacy fields are used.
        randomize_messages:
          type: boolean
          title: Randomize Messages
          description: When true, unified messages are played in randomized no-repeat cycles. Ignored when unified messages are disabled.
          default: false
        first_slow_messages:
          items:
            type: string
          type: array
          title: First Slow Messages
          description: Messages to say when the agent is first delayed.
        very_slow_messages:
          items:
            type: string
          type: array
          title: Very Slow Messages
          description: Messages to say when the agent is significantly delayed.
        tool_responses:
          items:
            type: string
          type: array
          title: Tool Responses
          description: Messages to say when a tool call is in progress.
      type: object
      title: BridgePhraseMessages
      description: Bridge phrase message lists for a single language.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Syllable-API-Key
x-speakeasy-name-override:
- operationId: .*_list$
  methodNameOverride: list
- operationId: .*_create$
  methodNameOverride: create
- operationId: .*_update$
  methodNameOverride: update
- operationId: .*_upload$
  methodNameOverride: upload
- operationId: .*_delete$
  methodNameOverride: delete
- operationId: .*_get_by_id$
  methodNameOverride: get_by_id
- operationId: .*_get_by_name$
  methodNameOverride: get_by_name
- operationId: .*_add$
  methodNameOverride: add
- operationId: .*_remove$
  methodNameOverride: remove
- operationId: .*_results$
  methodNameOverride: results
- operationId: .*_queue_work$
  methodNameOverride: queue_work
- operationId: .*_activate$
  methodNameOverride: activate
- operationId: .*_inactivate$
  methodNameOverride: inactivate
- operationId: .*_list_files$
  methodNameOverride: list_files
- operationId: .*_move_files$
  methodNameOverride: move_files
- operationId: .*_upload_file$
  methodNameOverride: upload_file
