openapi: 3.2.0
info:
  title: SyllableSDK Sessions.latency API
  description: "\n# Syllable Platform SDK\n\nSyllable SDK gives you the power of awesome AI agentry. \U0001F680\n\n## Overview\n\nThe Syllable SDK provides a comprehensive set of tools and APIs to integrate powerful AI\ncapabilities into your communication applications. Whether you're building phone agents, chatbots,\nvirtual assistants, or any other AI-driven solutions, Syllable SDK has got you covered.\n\n## Features\n\n- **Agent Configuration**: Create and manage agents that can interact with users across various \nchannels.\n- **Channel Management**: Configure channels like SMS, web chat, and more to connect agents with \nusers.\n- **Custom Messages**: Set up custom messages that agents can deliver as greetings or responses.\n- **Conversations**: Track and manage conversations between users and agents, including session \nmanagement.\n- **Tools and Workflows**: Leverage tools and workflows to enhance agent capabilities, such as data \nprocessing and API calls.\n- **Data Sources**: Integrate data sources to provide agents with additional context and \ninformation.\n- **Insights and Analytics**: Analyze conversations and sessions to gain insights into user \ninteractions.\n- **Permissions and Security**: Manage permissions to control access to various features and \nfunctionalities.\n- **Language Support**: Define language groups to enable multilingual support for agents.\n- **Outbound Campaigns**: Create and manage outbound communication campaigns to reach users \neffectively.\n- **Session Labels**: Label sessions with evaluations of quality and descriptions of issues \nencountered.\n- **Incident Management**: Track and manage incidents related to agent interactions.\n"
  version: 0.0.3
servers:
- url: https://api.syllable.cloud
  description: API server
tags:
- name: sessions.latency
paths:
  /api/v1/sessions/latency/{session_id}:
    get:
      tags:
      - sessions.latency
      summary: Inspect Latency For Session
      operationId: session_latency_get_by_id
      security:
      - APIKeyHeader: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspectLatencyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.sessions.latency.get_by_id(session_id=\"<id>\")\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.sessions.latency.getById({\n    sessionId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SummaryEntry:
      properties:
        category:
          $ref: '#/components/schemas/LatencyCategory'
        sub_category:
          anyOf:
          - type: string
          - type: 'null'
          title: Sub Category
        event_count:
          type: integer
          title: Event Count
        sum_ms:
          type: number
          title: Sum Ms
        sum_str:
          type: string
          title: Sum Str
        average_ms:
          type: number
          title: Average Ms
        average_str:
          type: string
          title: Average Str
      type: object
      required:
      - category
      - event_count
      - sum_ms
      - sum_str
      - average_ms
      - average_str
      title: SummaryEntry
      description: 'A summary entry is an aggregation of latency entries by category and sub-category.

        It contains the total and average latency for each category.'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    InspectLatencyResponse:
      properties:
        session_id:
          type: string
          title: Session Id
        timeline:
          items:
            $ref: '#/components/schemas/LatencyEntry'
          type: array
          title: Timeline
        summary:
          items:
            $ref: '#/components/schemas/SummaryEntry'
          type: array
          title: Summary
      type: object
      required:
      - session_id
      - timeline
      title: InspectLatencyResponse
      description: 'This is a report of the time spent in each operation during this session. It contains a timeline,

        which lists the operations in the order they were executed, and a summary, which aggregates the

        operations by category and sub-category.'
    LatencyCategory:
      type: string
      enum:
      - tts
      - stt
      - llm
      - tool
      - http
      title: LatencyCategory
    LatencyUnitType:
      type: string
      enum:
      - minutes
      - seconds
      - milliseconds
      - microseconds
      - nanoseconds
      title: LatencyUnitType
    LatencyEntry:
      properties:
        timestamp:
          type: string
          format: date-time
          title: Timestamp
        measurement_start:
          type: string
          format: date-time
          title: Measurement Start
        category:
          $ref: '#/components/schemas/LatencyCategory'
        label:
          type: string
          title: Label
        metadata:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Metadata
        unit_type:
          $ref: '#/components/schemas/LatencyUnitType'
        value:
          type: number
          title: Value
        value_str:
          type: string
          title: Value Str
        time_delta:
          type: string
          title: Time Delta
      type: object
      required:
      - timestamp
      - measurement_start
      - category
      - label
      - unit_type
      - value
      - value_str
      - time_delta
      title: LatencyEntry
      description: Data model for latency entries.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Syllable-API-Key
x-speakeasy-name-override:
- operationId: .*_list$
  methodNameOverride: list
- operationId: .*_create$
  methodNameOverride: create
- operationId: .*_update$
  methodNameOverride: update
- operationId: .*_upload$
  methodNameOverride: upload
- operationId: .*_delete$
  methodNameOverride: delete
- operationId: .*_get_by_id$
  methodNameOverride: get_by_id
- operationId: .*_get_by_name$
  methodNameOverride: get_by_name
- operationId: .*_add$
  methodNameOverride: add
- operationId: .*_remove$
  methodNameOverride: remove
- operationId: .*_results$
  methodNameOverride: results
- operationId: .*_queue_work$
  methodNameOverride: queue_work
- operationId: .*_activate$
  methodNameOverride: activate
- operationId: .*_inactivate$
  methodNameOverride: inactivate
- operationId: .*_list_files$
  methodNameOverride: list_files
- operationId: .*_move_files$
  methodNameOverride: move_files
- operationId: .*_upload_file$
  methodNameOverride: upload_file
