openapi: 3.2.0
info:
  title: SyllableSDK Session Labels API
  description: "\n# Syllable Platform SDK\n\nSyllable SDK gives you the power of awesome AI agentry. \U0001F680\n\n## Overview\n\nThe Syllable SDK provides a comprehensive set of tools and APIs to integrate powerful AI\ncapabilities into your communication applications. Whether you're building phone agents, chatbots,\nvirtual assistants, or any other AI-driven solutions, Syllable SDK has got you covered.\n\n## Features\n\n- **Agent Configuration**: Create and manage agents that can interact with users across various \nchannels.\n- **Channel Management**: Configure channels like SMS, web chat, and more to connect agents with \nusers.\n- **Custom Messages**: Set up custom messages that agents can deliver as greetings or responses.\n- **Conversations**: Track and manage conversations between users and agents, including session \nmanagement.\n- **Tools and Workflows**: Leverage tools and workflows to enhance agent capabilities, such as data \nprocessing and API calls.\n- **Data Sources**: Integrate data sources to provide agents with additional context and \ninformation.\n- **Insights and Analytics**: Analyze conversations and sessions to gain insights into user \ninteractions.\n- **Permissions and Security**: Manage permissions to control access to various features and \nfunctionalities.\n- **Language Support**: Define language groups to enable multilingual support for agents.\n- **Outbound Campaigns**: Create and manage outbound communication campaigns to reach users \neffectively.\n- **Session Labels**: Label sessions with evaluations of quality and descriptions of issues \nencountered.\n- **Incident Management**: Track and manage incidents related to agent interactions.\n"
  version: 0.0.3
servers:
- url: https://api.syllable.cloud
  description: API server
tags:
- name: session_labels
  description: Operations related to labeling sessions with evaluations of quality and           descriptions of issues the user encountered or other details. For more information, see           [Console docs](https://docs.syllable.ai/workspaces/Sessions).
paths:
  /api/v1/session_labels/{session_label_id}:
    get:
      tags:
      - session_labels
      summary: Get Label By Id
      operationId: session_label_get_by_id
      security:
      - APIKeyHeader: []
      parameters:
      - name: session_label_id
        in: path
        required: true
        schema:
          type: integer
          title: Session Label Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionLabel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.session_labels.get_by_id(session_label_id=491550)\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.sessionLabels.getById({\n    sessionLabelId: 491550,\n  });\n\n  console.log(result);\n}\n\nrun();"
  /api/v1/session_labels/:
    post:
      tags:
      - session_labels
      summary: Create Label
      description: Create a new label
      operationId: session_label_create
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionLabelCreate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionLabel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.session_labels.create(request={\n        \"session_id\": 1,\n        \"type\": \"auto-rating\",\n        \"code\": \"GOOD\",\n        \"user_email\": \"user@email.com\",\n        \"issue_categories\": [\n            \"Silent treatment\",\n        ],\n    })\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.sessionLabels.create({\n    sessionId: 1,\n    type: \"auto-rating\",\n    code: \"GOOD\",\n    userEmail: \"user@email.com\",\n    issueCategories: [\n      \"Silent treatment\",\n    ],\n  });\n\n  console.log(result);\n}\n\nrun();"
    get:
      tags:
      - session_labels
      summary: Session Labels List
      operationId: session_labels_list
      security:
      - APIKeyHeader: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 0
          - type: 'null'
          description: The page number from which to start (0-based)
          examples:
          - 0
          default: 0
          title: Page
        description: The page number from which to start (0-based)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: The maximum number of items to return
          examples:
          - 25
          default: 25
          title: Limit
        description: The maximum number of items to return
      - name: search_fields
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SessionLabelProperties'
          description: String names of fields to search. Correspond by index to search field values
          examples:
          - name
          default: []
          title: Search Fields
        description: String names of fields to search. Correspond by index to search field values
      - name: search_field_values
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: Values of fields to search. Correspond by index to search fields. Unless field name contains "list", an individual search field value cannot be a list
          examples:
          - Some Object Name
          default: []
          title: Search Field Values
        description: Values of fields to search. Correspond by index to search fields. Unless field name contains "list", an individual search field value cannot be a list
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/SessionLabelProperties'
          - type: 'null'
          description: The field whose value should be used to order the results
          examples:
          - name
          title: Order By
        description: The field whose value should be used to order the results
      - name: order_by_direction
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/OrderByDirection'
          - type: 'null'
          description: The direction in which to order the results
          title: Order By Direction
        description: The direction in which to order the results
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/SessionLabelProperties'
          - type: 'null'
          description: The fields to include in the response
          default: []
          title: Fields
        description: The fields to include in the response
      - name: start_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The start datetime for filtering results
          examples:
          - '2023-01-01T00:00:00Z'
          title: Start Datetime
        description: The start datetime for filtering results
      - name: end_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The end datetime for filtering results
          examples:
          - '2024-01-01T00:00:00Z'
          title: End Datetime
        description: The end datetime for filtering results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_SessionLabel_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK, models\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.session_labels.list(page=0, limit=25, search_fields=[\n        models.SessionLabelProperties.CODE,\n    ], search_field_values=[\n        \"Some Object Name\",\n    ], start_datetime=\"2023-01-01T00:00:00Z\", end_datetime=\"2024-01-01T00:00:00Z\")\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.sessionLabels.list({\n    page: 0,\n    searchFields: [\n      \"code\",\n    ],\n    searchFieldValues: [\n      \"Some Object Name\",\n    ],\n    startDatetime: \"2023-01-01T00:00:00Z\",\n    endDatetime: \"2024-01-01T00:00:00Z\",\n  });\n\n  console.log(result);\n}\n\nrun();"
components:
  schemas:
    SessionLabelCreate:
      properties:
        session_id:
          type: integer
          title: Session Id
          description: The internal ID of the session (see Session.session_id)
          examples:
          - 1
        type:
          type: string
          title: Type
          description: The type of the label (either "auto-rating" or "human-rating")
          examples:
          - auto-rating
          - human-rating
        code:
          type: string
          title: Code
          description: A code describing the quality of the labeled session (either "GOOD", "OK", "BAD", or "N/A")
          examples:
          - GOOD
          - OK
          - BAD
          - N/A
        user_email:
          type: string
          title: User Email
          description: The email of the user who created the label
          examples:
          - user@email.com
        comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Comments
          description: Comment string describing additional details about the session
        issue_categories:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Issue Categories
          description: Descriptions of issues occurring in the labeled call
          default: []
          examples:
          - - Silent treatment
          - - Speech transcription (STT)
      type: object
      required:
      - session_id
      - type
      - code
      - user_email
      title: SessionLabelCreate
    OrderByDirection:
      type: string
      enum:
      - asc
      - desc
      title: OrderByDirection
      description: The direction in which to order list results, either ascending or descending.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SessionLabelProperties:
      type: string
      enum:
      - timestamp
      - session_id
      - type
      - code
      - user_email
      - issue_categories
      - session_id_list
      title: SessionLabelProperties
    SessionLabel:
      properties:
        session_id:
          type: integer
          title: Session Id
          description: The internal ID of the session (see Session.session_id)
          examples:
          - 1
        type:
          type: string
          title: Type
          description: The type of the label (either "auto-rating" or "human-rating")
          examples:
          - auto-rating
          - human-rating
        code:
          type: string
          title: Code
          description: A code describing the quality of the labeled session (either "GOOD", "OK", "BAD", or "N/A")
          examples:
          - GOOD
          - OK
          - BAD
          - N/A
        user_email:
          type: string
          title: User Email
          description: The email of the user who created the label
          examples:
          - user@email.com
        comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Comments
          description: Comment string describing additional details about the session
        issue_categories:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Issue Categories
          description: Descriptions of issues occurring in the labeled call
          default: []
          examples:
          - - Silent treatment
          - - Speech transcription (STT)
        id:
          type: integer
          title: Id
          description: The internal ID of the label
          examples:
          - 1
        timestamp:
          type: string
          title: Timestamp
          description: The timestamp at which the label was created
          examples:
          - '2024-01-01T12:00:00Z'
      type: object
      required:
      - session_id
      - type
      - code
      - user_email
      - id
      - timestamp
      title: SessionLabel
      description: 'Response model for session label operations.

        A session label is associated with a given session and contains an evaluation of quality and

        descriptions of issues the user encountered in that session or other details.'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ListResponse_SessionLabel_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/SessionLabel'
          type: array
          title: Items
          description: List of items returned from the query
          examples: []
        page:
          type: integer
          title: Page
          description: The page number of the results (0-based)
          examples:
          - 0
        page_size:
          type: integer
          title: Page Size
          description: The number of items returned per page
          examples:
          - 25
        total_pages:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Pages
          description: The total number of pages of results given the indicated page size
          examples:
          - 4
        total_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Count
          description: The total number of items returned from the query
          examples:
          - 100
      type: object
      required:
      - items
      - page
      - page_size
      title: ListResponse[SessionLabel]
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Syllable-API-Key
x-speakeasy-name-override:
- operationId: .*_list$
  methodNameOverride: list
- operationId: .*_create$
  methodNameOverride: create
- operationId: .*_update$
  methodNameOverride: update
- operationId: .*_upload$
  methodNameOverride: upload
- operationId: .*_delete$
  methodNameOverride: delete
- operationId: .*_get_by_id$
  methodNameOverride: get_by_id
- operationId: .*_get_by_name$
  methodNameOverride: get_by_name
- operationId: .*_add$
  methodNameOverride: add
- operationId: .*_remove$
  methodNameOverride: remove
- operationId: .*_results$
  methodNameOverride: results
- operationId: .*_queue_work$
  methodNameOverride: queue_work
- operationId: .*_activate$
  methodNameOverride: activate
- operationId: .*_inactivate$
  methodNameOverride: inactivate
- operationId: .*_list_files$
  methodNameOverride: list_files
- operationId: .*_move_files$
  methodNameOverride: move_files
- operationId: .*_upload_file$
  methodNameOverride: upload_file
