openapi: 3.2.0
info:
  title: SyllableSDK Permissions API
  description: '# Syllable Platform SDK


    Syllable SDK gives you the power of awesome AI agentry.'
  version: 0.0.3
servers:
- url: https://api.syllable.cloud
  description: API server
tags:
- name: Permissions
  description: Operations related to permissions. A permission is a specific capability or access level granted to a user within the Syllable system. Permissions are used to control access to various features and functionalities.
paths:
  /api/v1/permissions/:
    get:
      tags:
      - Permissions
      summary: List Permissions
      description: Get all available permissions in the system.
      operationId: permissions_list
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PermissionGroupResponse'
                type: array
                title: Response Permissions List
      security:
      - APIKeyHeader: []
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.permissions.list()\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.permissions.list();\n\n  console.log(result);\n}\n\nrun();"
components:
  schemas:
    PermissionGroupResponse:
      properties:
        name:
          type: string
          title: Name
          description: Name of the permission group
          examples:
          - Agents
        description:
          type: string
          title: Description
          description: Description of the permission group
          examples:
          - View agents, create and edit agent configurations, and delete agents.
        permissions:
          items:
            $ref: '#/components/schemas/PermissionResponse'
          type: array
          title: Permissions
          description: Permissions in the group
      type: object
      required:
      - name
      - description
      - permissions
      title: PermissionGroupResponse
      description: Information about a group of permissions related to the same feature.
    PermissionResponse:
      properties:
        name:
          type: string
          title: Name
          description: Name of the permission
          examples:
          - agents_read
        display_name:
          type: string
          title: Display Name
          description: Display name of the permission
          examples:
          - View
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the permission
          examples:
          - Fetch agent information
      type: object
      required:
      - name
      - display_name
      title: PermissionResponse
      description: Information about a permission.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Syllable-API-Key
x-speakeasy-name-override:
- operationId: .*_list$
  methodNameOverride: list
- operationId: .*_create$
  methodNameOverride: create
- operationId: .*_update$
  methodNameOverride: update
- operationId: .*_upload$
  methodNameOverride: upload
- operationId: .*_delete$
  methodNameOverride: delete
- operationId: .*_get_by_id$
  methodNameOverride: get_by_id
- operationId: .*_get_by_name$
  methodNameOverride: get_by_name
- operationId: .*_add$
  methodNameOverride: add
- operationId: .*_remove$
  methodNameOverride: remove
- operationId: .*_results$
  methodNameOverride: results
- operationId: .*_queue_work$
  methodNameOverride: queue_work
- operationId: .*_activate$
  methodNameOverride: activate
- operationId: .*_inactivate$
  methodNameOverride: inactivate
- operationId: .*_list_files$
  methodNameOverride: list_files
- operationId: .*_move_files$
  methodNameOverride: move_files
- operationId: .*_upload_file$
  methodNameOverride: upload_file
