openapi: 3.2.0
info:
  title: SyllableSDK Sessions.transcript API
  description: "\n# Syllable Platform SDK\n\nSyllable SDK gives you the power of awesome AI agentry. \U0001F680\n\n## Overview\n\nThe Syllable SDK provides a comprehensive set of tools and APIs to integrate powerful AI\ncapabilities into your communication applications. Whether you're building phone agents, chatbots,\nvirtual assistants, or any other AI-driven solutions, Syllable SDK has got you covered.\n\n## Features\n\n- **Agent Configuration**: Create and manage agents that can interact with users across various \nchannels.\n- **Channel Management**: Configure channels like SMS, web chat, and more to connect agents with \nusers.\n- **Custom Messages**: Set up custom messages that agents can deliver as greetings or responses.\n- **Conversations**: Track and manage conversations between users and agents, including session \nmanagement.\n- **Tools and Workflows**: Leverage tools and workflows to enhance agent capabilities, such as data \nprocessing and API calls.\n- **Data Sources**: Integrate data sources to provide agents with additional context and \ninformation.\n- **Insights and Analytics**: Analyze conversations and sessions to gain insights into user \ninteractions.\n- **Permissions and Security**: Manage permissions to control access to various features and \nfunctionalities.\n- **Language Support**: Define language groups to enable multilingual support for agents.\n- **Outbound Campaigns**: Create and manage outbound communication campaigns to reach users \neffectively.\n- **Session Labels**: Label sessions with evaluations of quality and descriptions of issues \nencountered.\n- **Incident Management**: Track and manage incidents related to agent interactions.\n"
  version: 0.0.3
servers:
- url: https://api.syllable.cloud
  description: API server
tags:
- name: sessions.transcript
paths:
  /api/v1/sessions/transcript/{session_id}:
    get:
      tags:
      - sessions.transcript
      summary: Get Session Transcript By Id
      operationId: session_transcript_get_by_id
      security:
      - APIKeyHeader: []
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          title: Session Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionTranscriptionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.sessions.transcript.get_by_id(session_id=\"<id>\")\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.sessions.transcript.getById({\n    sessionId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SessionText:
      properties:
        timestamp:
          type: string
          format: date-time
          title: Timestamp
          description: Timestamp of the message
        lang:
          anyOf:
          - type: string
          - type: 'null'
          title: Lang
          description: ISO 639 code of the language used for the message (may appear as "unset" if was not conclusively determined)
          examples:
          - en-US
          - es-US
          - unset
        source:
          anyOf:
          - type: string
          - type: 'null'
          title: Source
          description: Whether the user or agent sent the message
          examples:
          - user
          - agent
        text:
          anyOf:
          - type: string
          - type: 'null'
          title: Text
          description: Content of the message
      type: object
      required:
      - timestamp
      title: SessionText
      description: Information about a given message from a user to an agent or vice-versa.
    SessionAction:
      properties:
        timestamp:
          type: string
          format: date-time
          title: Timestamp
          description: Timestamp of the tool invocation
        tool_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Tool Name
          description: Name of the tool that was invoked
        tool_request:
          anyOf:
          - type: string
          - type: 'null'
          title: Tool Request
          description: Request sent to the tool API, if applicable
        tool_result:
          anyOf:
          - type: string
          - type: 'null'
          title: Tool Result
          description: Response received from the tool API, if applicable
        tool_error:
          anyOf:
          - type: string
          - type: 'null'
          title: Tool Error
          description: Error received from the tool API, if applicable
        duration_ms:
          anyOf:
          - type: number
          - type: 'null'
          title: Duration Ms
          description: How long the tool invocation took, in milliseconds
      type: object
      required:
      - timestamp
      title: SessionAction
      description: Information about a given tool invocation as part of a session.
    SessionTranscriptionResponse:
      properties:
        session_id:
          type: string
          title: Session Id
          description: Internal ID of the session
        transcription:
          items:
            $ref: '#/components/schemas/SessionText'
          type: array
          title: Transcription
          description: Transcriptions of all messages in the session
        actions:
          items:
            $ref: '#/components/schemas/SessionAction'
          type: array
          title: Actions
          description: Tool invocations that occurred during the session
      type: object
      required:
      - session_id
      - transcription
      - actions
      title: SessionTranscriptionResponse
      description: 'Text transcript of a given session. For more information, see

        [Console docs](https://docs.syllable.ai/workspaces/Sessions).'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Syllable-API-Key
x-speakeasy-name-override:
- operationId: .*_list$
  methodNameOverride: list
- operationId: .*_create$
  methodNameOverride: create
- operationId: .*_update$
  methodNameOverride: update
- operationId: .*_upload$
  methodNameOverride: upload
- operationId: .*_delete$
  methodNameOverride: delete
- operationId: .*_get_by_id$
  methodNameOverride: get_by_id
- operationId: .*_get_by_name$
  methodNameOverride: get_by_name
- operationId: .*_add$
  methodNameOverride: add
- operationId: .*_remove$
  methodNameOverride: remove
- operationId: .*_results$
  methodNameOverride: results
- operationId: .*_queue_work$
  methodNameOverride: queue_work
- operationId: .*_activate$
  methodNameOverride: activate
- operationId: .*_inactivate$
  methodNameOverride: inactivate
- operationId: .*_list_files$
  methodNameOverride: list_files
- operationId: .*_move_files$
  methodNameOverride: move_files
- operationId: .*_upload_file$
  methodNameOverride: upload_file
