openapi: 3.2.0
info:
  title: SyllableSDK Language Groups API
  description: "\n# Syllable Platform SDK\n\nSyllable SDK gives you the power of awesome AI agentry. \U0001F680\n\n## Overview\n\nThe Syllable SDK provides a comprehensive set of tools and APIs to integrate powerful AI\ncapabilities into your communication applications. Whether you're building phone agents, chatbots,\nvirtual assistants, or any other AI-driven solutions, Syllable SDK has got you covered.\n\n## Features\n\n- **Agent Configuration**: Create and manage agents that can interact with users across various \nchannels.\n- **Channel Management**: Configure channels like SMS, web chat, and more to connect agents with \nusers.\n- **Custom Messages**: Set up custom messages that agents can deliver as greetings or responses.\n- **Conversations**: Track and manage conversations between users and agents, including session \nmanagement.\n- **Tools and Workflows**: Leverage tools and workflows to enhance agent capabilities, such as data \nprocessing and API calls.\n- **Data Sources**: Integrate data sources to provide agents with additional context and \ninformation.\n- **Insights and Analytics**: Analyze conversations and sessions to gain insights into user \ninteractions.\n- **Permissions and Security**: Manage permissions to control access to various features and \nfunctionalities.\n- **Language Support**: Define language groups to enable multilingual support for agents.\n- **Outbound Campaigns**: Create and manage outbound communication campaigns to reach users \neffectively.\n- **Session Labels**: Label sessions with evaluations of quality and descriptions of issues \nencountered.\n- **Incident Management**: Track and manage incidents related to agent interactions.\n"
  version: 0.0.3
servers:
- url: https://api.syllable.cloud
  description: API server
tags:
- name: language_groups
  description: Operations related to language groups. A language group is a           collection of language, voice, and DTMF configuration that can be linked to an agent to           define the languages and voices it supports. For more information, see           [Console docs](https://docs.syllable.ai/Resources/LanguageGroups).
paths:
  /api/v1/language_groups/:
    get:
      tags:
      - language_groups
      summary: List Language Groups
      description: Deprecated alias for `GET /api/v1/voice_groups/`.
      operationId: language_groups_list
      deprecated: true
      security:
      - APIKeyHeader: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 0
          - type: 'null'
          description: The page number from which to start (0-based)
          examples:
          - 0
          default: 0
          title: Page
        description: The page number from which to start (0-based)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: The maximum number of items to return
          examples:
          - 25
          default: 25
          title: Limit
        description: The maximum number of items to return
      - name: search_fields
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/LanguageGroupProperties'
          description: String names of fields to search. Correspond by index to search field values
          examples:
          - name
          default: []
          title: Search Fields
        description: String names of fields to search. Correspond by index to search field values
      - name: search_field_values
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: Values of fields to search. Correspond by index to search fields. Unless field name contains "list", an individual search field value cannot be a list
          examples:
          - Some Object Name
          default: []
          title: Search Field Values
        description: Values of fields to search. Correspond by index to search fields. Unless field name contains "list", an individual search field value cannot be a list
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/LanguageGroupProperties'
          - type: 'null'
          description: The field whose value should be used to order the results
          examples:
          - name
          title: Order By
        description: The field whose value should be used to order the results
      - name: order_by_direction
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/OrderByDirection'
          - type: 'null'
          description: The direction in which to order the results
          title: Order By Direction
        description: The direction in which to order the results
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/LanguageGroupProperties'
          - type: 'null'
          description: The fields to include in the response
          default: []
          title: Fields
        description: The fields to include in the response
      - name: start_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The start datetime for filtering results
          examples:
          - '2023-01-01T00:00:00Z'
          title: Start Datetime
        description: The start datetime for filtering results
      - name: end_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The end datetime for filtering results
          examples:
          - '2024-01-01T00:00:00Z'
          title: End Datetime
        description: The end datetime for filtering results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_LanguageGroupResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - language_groups
      summary: Create Language Group
      description: Deprecated alias for `POST /api/v1/voice_groups/`.
      operationId: language_groups_create
      deprecated: true
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LanguageGroupCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - language_groups
      summary: Update Language Group
      description: Deprecated alias for `PUT /api/v1/voice_groups/`.
      operationId: language_groups_update
      deprecated: true
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LanguageGroupUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/language_groups/{language_group_id}:
    get:
      tags:
      - language_groups
      summary: Get Language Group
      description: Deprecated alias for `GET /api/v1/voice_groups/{voice_group_id}`.
      operationId: language_groups_get_by_id
      deprecated: true
      security:
      - APIKeyHeader: []
      parameters:
      - name: language_group_id
        in: path
        required: true
        schema:
          type: integer
          title: Language Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageGroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - language_groups
      summary: Delete Language Group
      description: Deprecated alias for `DELETE /api/v1/voice_groups/{voice_group_id}`.
      operationId: language_groups_delete
      deprecated: true
      security:
      - APIKeyHeader: []
      parameters:
      - name: language_group_id
        in: path
        required: true
        schema:
          type: integer
          title: Language Group Id
      - name: reason
        in: query
        required: true
        schema:
          type: string
          title: Reason
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/language_groups/voices/sample:
    post:
      tags:
      - language_groups
      summary: Create Voice Sample
      description: Deprecated alias for `POST /api/v1/voice_groups/voices/sample`.
      operationId: language_groups_create_voice_sample
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LanguageSampleCreateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                title: bytes
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - APIKeyHeader: []
components:
  schemas:
    LanguageGroupProperties:
      type: string
      enum:
      - name
      - description
      - skip_current_language_in_message
      - updated_at
      - last_updated_by
      title: LanguageGroupProperties
      description: Deprecated enum mirroring `VoiceGroupProperties` values.
    OrderByDirection:
      type: string
      enum:
      - asc
      - desc
      title: OrderByDirection
      description: The direction in which to order list results, either ascending or descending.
    LanguageGroupAgentInfo:
      properties:
        id:
          type: integer
          title: Id
          description: The ID of the agent
          examples:
          - 1
        name:
          type: string
          title: Name
          description: The name of the agent
          examples:
          - Test Agent
      type: object
      required:
      - id
      - name
      title: LanguageGroupAgentInfo
      description: Information about an agent linked to a language group.
    LanguageGroupResponse:
      properties:
        name:
          type: string
          title: Name
          description: The name of the language group.
          examples:
          - Call Center 1 Languages
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the language group.
          examples:
          - Languages spoken by operators at Call Center 1
        language_configs:
          items:
            $ref: '#/components/schemas/LanguageConfig'
          type: array
          title: Language Configs
          description: Voice and DTMF configurations for each language in the group.
          examples:
          - - dtmf_code: 1
              language_code: en-US
              voice_display_name: Alloy
              voice_provider: OpenAI
            - dtmf_code: 2
              language_code: es-US
              voice_display_name: es-US-Neural2-B
              voice_provider: Google
        skip_current_language_in_message:
          type: boolean
          title: Skip Current Language In Message
          description: Whether a custom message using the language group to generate a language DTMF menu should skip the agent's current language in the menu.
          examples:
          - true
        id:
          type: integer
          title: Id
          description: The ID of the language group to update.
          examples:
          - 1
        edit_comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Edit Comments
          description: Comments for the most recent edit to the language group.
          examples:
          - Added Spanish support.
        agents_info:
          anyOf:
          - items:
              $ref: '#/components/schemas/LanguageGroupAgentInfo'
            type: array
          - type: 'null'
          title: Agents Info
          description: IDs and names of the agents linked to the language group
          examples:
          - - id: 1
              name: Test Agent
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Timestamp of the last update to the language group.
          examples:
          - '2024-01-01T00:00:00Z'
        last_updated_by:
          type: string
          title: Last Updated By
          description: Email of the user who last updated the language group.
          examples:
          - user@mail.com
      type: object
      required:
      - name
      - language_configs
      - skip_current_language_in_message
      - id
      - updated_at
      - last_updated_by
      title: LanguageGroupResponse
      description: 'Response model for voice group operations.

        A voice group is a collection of language, voice, and DTMF configuration that can be

        linked to an agent to define the languages and voices it supports. For more information, see

        [Console docs](https://docs.syllable.ai/Resources/VoiceGroups).'
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    LanguageSampleCreateRequest:
      properties:
        language_code:
          $ref: '#/components/schemas/LanguageCode'
          description: BCP 47 code of the language
          examples:
          - en-US
        voice_provider:
          $ref: '#/components/schemas/TtsProvider'
          description: TTS provider of the voice to use for the language
          examples:
          - OpenAI
        voice_display_name:
          $ref: '#/components/schemas/AgentVoiceDisplayName'
          description: Display name of the voice to use for the language
          examples:
          - Alloy
        voice_speed:
          anyOf:
          - type: number
          - type: 'null'
          title: Voice Speed
          description: Speed of the voice in the range of 0.25 to 4.0 (OpenAI and Google) or 0.7 to 1.2 (ElevenLabs). Standard speed is 1.0.
          examples:
          - 1.0
        voice_pitch:
          anyOf:
          - type: number
          - type: 'null'
          title: Voice Pitch
          description: Pitch of the voice in the range of -20.0 to 20.0. 20 means increase 20 semitones from the original pitch. -20 means decrease 20 semitones from the original pitch. 0 means use the original pitch. Only supported for Google configs.
          examples:
          - 0.0
        text:
          type: string
          title: Text
          description: Text to generate for this voice.
          default: ''
        apply_pronunciation_overrides:
          type: boolean
          title: Apply Pronunciation Overrides
          description: Apply TTS pronunciation fixes.
          default: false
      type: object
      required:
      - language_code
      - voice_provider
      - voice_display_name
      title: LanguageSampleCreateRequest
      description: Request model to generate a sample audio file for a given voice and language.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    AgentVoiceDisplayName:
      type: string
      enum:
      - Achernar (English)
      - Achernar (Gujarati)
      - Achernar (Arabic)
      - Achernar (French)
      - Achernar (Japanese)
      - Achernar (Hindi)
      - Achernar (Korean)
      - Achernar (Mandarin)
      - Achernar (Spanish)
      - Achernar (Thai)
      - Achernar (Vietnamese)
      - Alice
      - Alloy
      - Aoede (English)
      - Aoede (Gujarati)
      - Aoede (Arabic)
      - Aoede (French)
      - Aoede (Japanese)
      - Aoede (Hindi)
      - Aoede (Korean)
      - Aoede (Mandarin)
      - Aoede (Russian)
      - Aoede (Spanish)
      - Aoede (Thai)
      - Aoede (Vietnamese)
      - Ash
      - Bill
      - Brian
      - Callirrhoe (English)
      - Callirrhoe (Gujarati)
      - Callirrhoe (Arabic)
      - Callirrhoe (French)
      - Callirrhoe (Japanese)
      - Callirrhoe (Hindi)
      - Callirrhoe (Korean)
      - Callirrhoe (Mandarin)
      - Callirrhoe (Spanish)
      - Callirrhoe (Thai)
      - Callirrhoe (Vietnamese)
      - Callum
      - Charlie
      - Charlotte
      - Charon (English)
      - Charon (Gujarati)
      - Charon (Arabic)
      - Charon (French)
      - Charon (Japanese)
      - Charon (Hindi)
      - Charon (Korean)
      - Charon (Mandarin)
      - Charon (Russian)
      - Charon (Spanish)
      - Charon (Thai)
      - Charon (Vietnamese)
      - Chris
      - cmn-TW-Wavenet-A
      - Coral
      - Daniel
      - Echo
      - en-US-Neural2-D
      - en-US-Neural2-F
      - en-US-Neural2-J
      - en-US-Studio-O
      - Eric
      - es-US-Neural2-A
      - es-US-Neural2-B
      - Fable
      - Fenrir (English)
      - Fenrir (Gujarati)
      - Fenrir (Arabic)
      - Fenrir (French)
      - Fenrir (Japanese)
      - Fenrir (Hindi)
      - Fenrir (Korean)
      - Fenrir (Mandarin)
      - Fenrir (Russian)
      - Fenrir (Spanish)
      - Fenrir (Thai)
      - Fenrir (Vietnamese)
      - George
      - Jessica
      - ko-KR-Neural2-A
      - Kore (English)
      - Kore (Gujarati)
      - Kore (Arabic)
      - Kore (French)
      - Kore (Japanese)
      - Kore (Hindi)
      - Kore (Korean)
      - Kore (Mandarin)
      - Kore (Russian)
      - Kore (Spanish)
      - Kore (Thai)
      - Kore (Vietnamese)
      - Laura
      - Leda (English)
      - Leda (Gujarati)
      - Leda (Arabic)
      - Leda (French)
      - Leda (Japanese)
      - Leda (Hindi)
      - Leda (Korean)
      - Leda (Mandarin)
      - Leda (Russian)
      - Leda (Spanish)
      - Leda (Thai)
      - Leda (Vietnamese)
      - Liam
      - Lily
      - Matilda
      - Nova
      - Onyx
      - Orus (English)
      - Orus (Gujarati)
      - Orus (Arabic)
      - Orus (French)
      - Orus (Japanese)
      - Orus (Hindi)
      - Orus (Korean)
      - Orus (Mandarin)
      - Orus (Russian)
      - Orus (Spanish)
      - Orus (Thai)
      - Orus (Vietnamese)
      - Puck (English)
      - Puck (Gujarati)
      - Puck (Arabic)
      - Puck (French)
      - Puck (Japanese)
      - Puck (Hindi)
      - Puck (Korean)
      - Puck (Mandarin)
      - Puck (Russian)
      - Puck (Spanish)
      - Puck (Thai)
      - Puck (Vietnamese)
      - River
      - Roger
      - Sarah
      - Sage
      - Shimmer
      - Umbriel (English)
      - Umbriel (Gujarati)
      - Umbriel (Arabic)
      - Umbriel (French)
      - Umbriel (Japanese)
      - Umbriel (Hindi)
      - Umbriel (Korean)
      - Umbriel (Mandarin)
      - Umbriel (Spanish)
      - Umbriel (Thai)
      - Umbriel (Vietnamese)
      - Vindemiatrix (English)
      - Vindemiatrix (Gujarati)
      - Vindemiatrix (Arabic)
      - Vindemiatrix (French)
      - Vindemiatrix (Japanese)
      - Vindemiatrix (Hindi)
      - Vindemiatrix (Korean)
      - Vindemiatrix (Mandarin)
      - Vindemiatrix (Spanish)
      - Vindemiatrix (Thai)
      - Vindemiatrix (Vietnamese)
      - vi-VN-Neural2-A
      - Will
      - yue-HK-Standard-C
      - Zephyr (English)
      - Zephyr (Gujarati)
      - Zephyr (Arabic)
      - Zephyr (French)
      - Zephyr (Japanese)
      - Zephyr (Hindi)
      - Zephyr (Korean)
      - Zephyr (Mandarin)
      - Zephyr (Russian)
      - Zephyr (Spanish)
      - Zephyr (Thai)
      - Zephyr (Vietnamese)
      title: AgentVoiceDisplayName
      description: Display names of voices that Syllable supports.
    LanguageGroupCreateRequest:
      properties:
        name:
          type: string
          title: Name
          description: The name of the language group.
          examples:
          - Call Center 1 Languages
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the language group.
          examples:
          - Languages spoken by operators at Call Center 1
        language_configs:
          items:
            $ref: '#/components/schemas/LanguageConfig'
          type: array
          title: Language Configs
          description: Voice and DTMF configurations for each language in the group.
          examples:
          - - dtmf_code: 1
              language_code: en-US
              voice_display_name: Alloy
              voice_provider: OpenAI
            - dtmf_code: 2
              language_code: es-US
              voice_display_name: es-US-Neural2-B
              voice_provider: Google
        skip_current_language_in_message:
          type: boolean
          title: Skip Current Language In Message
          description: Whether a custom message using the language group to generate a language DTMF menu should skip the agent's current language in the menu.
          examples:
          - true
      type: object
      required:
      - name
      - language_configs
      - skip_current_language_in_message
      title: LanguageGroupCreateRequest
      description: Request model to create a voice group.
    LanguageGroupUpdateRequest:
      properties:
        name:
          type: string
          title: Name
          description: The name of the language group.
          examples:
          - Call Center 1 Languages
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the language group.
          examples:
          - Languages spoken by operators at Call Center 1
        language_configs:
          items:
            $ref: '#/components/schemas/LanguageConfig'
          type: array
          title: Language Configs
          description: Voice and DTMF configurations for each language in the group.
          examples:
          - - dtmf_code: 1
              language_code: en-US
              voice_display_name: Alloy
              voice_provider: OpenAI
            - dtmf_code: 2
              language_code: es-US
              voice_display_name: es-US-Neural2-B
              voice_provider: Google
        skip_current_language_in_message:
          type: boolean
          title: Skip Current Language In Message
          description: Whether a custom message using the language group to generate a language DTMF menu should skip the agent's current language in the menu.
          examples:
          - true
        id:
          type: integer
          title: Id
          description: The ID of the language group to update.
          examples:
          - 1
        edit_comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Edit Comments
          description: Comments for the most recent edit to the language group.
          examples:
          - Added Spanish support.
      type: object
      required:
      - name
      - language_configs
      - skip_current_language_in_message
      - id
      title: LanguageGroupUpdateRequest
      description: Request model to update an existing voice group.
    ListResponse_LanguageGroupResponse_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/LanguageGroupResponse'
          type: array
          title: Items
          description: List of items returned from the query
          examples: []
        page:
          type: integer
          title: Page
          description: The page number of the results (0-based)
          examples:
          - 0
        page_size:
          type: integer
          title: Page Size
          description: The number of items returned per page
          examples:
          - 25
        total_pages:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Pages
          description: The total number of pages of results given the indicated page size
          examples:
          - 4
        total_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Count
          description: The total number of items returned from the query
          examples:
          - 100
      type: object
      required:
      - items
      - page
      - page_size
      title: ListResponse[LanguageGroupResponse]
    TtsProvider:
      type: string
      enum:
      - OpenAI
      - ElevenLabs
      - Google
      title: TtsProvider
      description: TTS provider for an agent voice.
    LanguageCode:
      type: string
      enum:
      - yue-HK
      - en-US
      - ko-KR
      - zh-CN
      - fa-IR
      - es-US
      - th-TH
      - vi-VN
      - bs-BA
      - sw-KE
      - ru-RU
      - hi-IN
      - gu-IN
      - ar-XA
      - fr-FR
      - ja-JP
      - ne-NP
      title: LanguageCode
      description: BCP 47 codes of languages that Syllable supports.
    LanguageConfig:
      properties:
        language_code:
          $ref: '#/components/schemas/LanguageCode'
          description: BCP 47 code of the language
          examples:
          - en-US
        voice_provider:
          $ref: '#/components/schemas/TtsProvider'
          description: TTS provider of the voice to use for the language
          examples:
          - OpenAI
        voice_display_name:
          $ref: '#/components/schemas/AgentVoiceDisplayName'
          description: Display name of the voice to use for the language
          examples:
          - Alloy
        voice_speed:
          anyOf:
          - type: number
          - type: 'null'
          title: Voice Speed
          description: Speed of the voice in the range of 0.25 to 4.0 (OpenAI and Google) or 0.7 to 1.2 (ElevenLabs). Standard speed is 1.0.
          examples:
          - 1.0
        voice_pitch:
          anyOf:
          - type: number
          - type: 'null'
          title: Voice Pitch
          description: Pitch of the voice in the range of -20.0 to 20.0. 20 means increase 20 semitones from the original pitch. -20 means decrease 20 semitones from the original pitch. 0 means use the original pitch. Only supported for Google configs.
          examples:
          - 0.0
        dtmf_code:
          type: integer
          title: Dtmf Code
          description: DTMF code that should be used for the language in the menu generated from the language group.
          examples:
          - 1
      type: object
      required:
      - language_code
      - voice_provider
      - voice_display_name
      - dtmf_code
      title: LanguageConfig
      description: 'Voice and DTMF configurations for a language in a language group. List of available voices

        and their supported languages can be fetched from `GET /agents/voices/available/`.'
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Syllable-API-Key
x-speakeasy-name-override:
- operationId: .*_list$
  methodNameOverride: list
- operationId: .*_create$
  methodNameOverride: create
- operationId: .*_update$
  methodNameOverride: update
- operationId: .*_upload$
  methodNameOverride: upload
- operationId: .*_delete$
  methodNameOverride: delete
- operationId: .*_get_by_id$
  methodNameOverride: get_by_id
- operationId: .*_get_by_name$
  methodNameOverride: get_by_name
- operationId: .*_add$
  methodNameOverride: add
- operationId: .*_remove$
  methodNameOverride: remove
- operationId: .*_results$
  methodNameOverride: results
- operationId: .*_queue_work$
  methodNameOverride: queue_work
- operationId: .*_activate$
  methodNameOverride: activate
- operationId: .*_inactivate$
  methodNameOverride: inactivate
- operationId: .*_list_files$
  methodNameOverride: list_files
- operationId: .*_move_files$
  methodNameOverride: move_files
- operationId: .*_upload_file$
  methodNameOverride: upload_file
