openapi: 3.2.0
info:
  title: SyllableSDK Prompts API
  description: "\n# Syllable Platform SDK\n\nSyllable SDK gives you the power of awesome AI agentry. \U0001F680\n\n## Overview\n\nThe Syllable SDK provides a comprehensive set of tools and APIs to integrate powerful AI\ncapabilities into your communication applications. Whether you're building phone agents, chatbots,\nvirtual assistants, or any other AI-driven solutions, Syllable SDK has got you covered.\n\n## Features\n\n- **Agent Configuration**: Create and manage agents that can interact with users across various \nchannels.\n- **Channel Management**: Configure channels like SMS, web chat, and more to connect agents with \nusers.\n- **Custom Messages**: Set up custom messages that agents can deliver as greetings or responses.\n- **Conversations**: Track and manage conversations between users and agents, including session \nmanagement.\n- **Tools and Workflows**: Leverage tools and workflows to enhance agent capabilities, such as data \nprocessing and API calls.\n- **Data Sources**: Integrate data sources to provide agents with additional context and \ninformation.\n- **Insights and Analytics**: Analyze conversations and sessions to gain insights into user \ninteractions.\n- **Permissions and Security**: Manage permissions to control access to various features and \nfunctionalities.\n- **Language Support**: Define language groups to enable multilingual support for agents.\n- **Outbound Campaigns**: Create and manage outbound communication campaigns to reach users \neffectively.\n- **Session Labels**: Label sessions with evaluations of quality and descriptions of issues \nencountered.\n- **Incident Management**: Track and manage incidents related to agent interactions.\n"
  version: 0.0.3
servers:
- url: https://api.syllable.cloud
  description: API server
tags:
- name: prompts
  description: Operations related to prompts. A prompt defines the behavior of an           agent by delivering instructions to the LLM about how the agent should behave.           A prompt can be linked to one or more agents. A prompt can also be linked to tools to           allow an agent using the prompt to use them. For more information, see           [Console docs](https://docs.syllable.ai/Resources/Prompts).
paths:
  /api/v1/prompts/:
    get:
      tags:
      - prompts
      summary: Prompt List
      description: List the existing prompts
      operationId: prompts_list
      security:
      - APIKeyHeader: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 0
          - type: 'null'
          description: The page number from which to start (0-based)
          examples:
          - 0
          default: 0
          title: Page
        description: The page number from which to start (0-based)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: The maximum number of items to return
          examples:
          - 25
          default: 25
          title: Limit
        description: The maximum number of items to return
      - name: search_fields
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PromptProperties'
          description: String names of fields to search. Correspond by index to search field values
          examples:
          - name
          default: []
          title: Search Fields
        description: String names of fields to search. Correspond by index to search field values
      - name: search_field_values
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: Values of fields to search. Correspond by index to search fields. Unless field name contains "list", an individual search field value cannot be a list
          examples:
          - Some Object Name
          default: []
          title: Search Field Values
        description: Values of fields to search. Correspond by index to search fields. Unless field name contains "list", an individual search field value cannot be a list
      - name: order_by
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/PromptProperties'
          - type: 'null'
          description: The field whose value should be used to order the results
          examples:
          - name
          title: Order By
        description: The field whose value should be used to order the results
      - name: order_by_direction
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/OrderByDirection'
          - type: 'null'
          description: The direction in which to order the results
          title: Order By Direction
        description: The direction in which to order the results
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/PromptProperties'
          - type: 'null'
          description: The fields to include in the response
          default: []
          title: Fields
        description: The fields to include in the response
      - name: start_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The start datetime for filtering results
          examples:
          - '2023-01-01T00:00:00Z'
          title: Start Datetime
        description: The start datetime for filtering results
      - name: end_datetime
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The end datetime for filtering results
          examples:
          - '2024-01-01T00:00:00Z'
          title: End Datetime
        description: The end datetime for filtering results
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PromptResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK, models\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.prompts.list(page=0, limit=25, search_fields=[\n        models.PromptProperties.NAME,\n    ], search_field_values=[\n        \"Some Object Name\",\n    ], start_datetime=\"2023-01-01T00:00:00Z\", end_datetime=\"2024-01-01T00:00:00Z\")\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.prompts.list({\n    page: 0,\n    searchFields: [\n      \"name\",\n    ],\n    searchFieldValues: [\n      \"Some Object Name\",\n    ],\n    startDatetime: \"2023-01-01T00:00:00Z\",\n    endDatetime: \"2024-01-01T00:00:00Z\",\n  });\n\n  console.log(result);\n}\n\nrun();"
    post:
      tags:
      - prompts
      summary: Create Prompt
      description: Create a new prompt
      operationId: prompts_create
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.prompts.create(request={\n        \"name\": \"Weather Agent Prompt\",\n        \"description\": \"Prompt for a weather agent.\",\n        \"type\": \"prompt_v1\",\n        \"context\": \"You are a weather agent. Answer the user's questions about weather and nothing else.\",\n        \"tools\": [],\n        \"llm_config\": {\n            \"api_version\": \"2024-06-01\",\n            \"temperature\": 1,\n            \"seed\": 123,\n        },\n        \"session_end_tool_id\": 1,\n        \"edit_comments\": \"Updated prompt text to include requirement to not answer questions that aren't about weather.\",\n    })\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.prompts.create({\n    name: \"Weather Agent Prompt\",\n    description: \"Prompt for a weather agent.\",\n    type: \"prompt_v1\",\n    context: \"You are a weather agent. Answer the user's questions about weather and nothing else.\",\n    tools: [],\n    llmConfig: {\n      apiVersion: \"2024-06-01\",\n      temperature: 1,\n      seed: 123,\n    },\n    sessionEndToolId: 1,\n    editComments: \"Updated prompt text to include requirement to not answer questions that aren't about weather.\",\n  });\n\n  console.log(result);\n}\n\nrun();"
    put:
      tags:
      - prompts
      summary: Update Prompt
      description: Update an existing prompt
      operationId: prompts_update
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.prompts.update(request={\n        \"name\": \"Weather Agent Prompt\",\n        \"description\": \"Prompt for a weather agent.\",\n        \"type\": \"prompt_v1\",\n        \"context\": \"You are a weather agent. Answer the user's questions about weather and nothing else.\",\n        \"tools\": [],\n        \"llm_config\": {\n            \"api_version\": \"2024-06-01\",\n            \"temperature\": 1,\n            \"seed\": 123,\n        },\n        \"session_end_tool_id\": 1,\n        \"edit_comments\": \"Updated prompt text to include requirement to not answer questions that aren't about weather.\",\n        \"id\": 1,\n    })\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.prompts.update({\n    name: \"Weather Agent Prompt\",\n    description: \"Prompt for a weather agent.\",\n    type: \"prompt_v1\",\n    context: \"You are a weather agent. Answer the user's questions about weather and nothing else.\",\n    tools: [],\n    llmConfig: {\n      apiVersion: \"2024-06-01\",\n      temperature: 1,\n      seed: 123,\n    },\n    sessionEndToolId: 1,\n    editComments: \"Updated prompt text to include requirement to not answer questions that aren't about weather.\",\n    id: 1,\n  });\n\n  console.log(result);\n}\n\nrun();"
  /api/v1/prompts/{prompt_id}:
    get:
      tags:
      - prompts
      summary: Get Prompt By Id
      description: Get a prompt by ID
      operationId: prompts_get_by_id
      security:
      - APIKeyHeader: []
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: integer
          title: Prompt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.prompts.get_by_id(prompt_id=417330)\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.prompts.getById({\n    promptId: 417330,\n  });\n\n  console.log(result);\n}\n\nrun();"
    delete:
      tags:
      - prompts
      summary: Delete Prompt
      description: Delete a prompt
      operationId: prompts_delete
      security:
      - APIKeyHeader: []
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: integer
          title: Prompt Id
      - name: reason
        in: query
        required: true
        schema:
          type: string
          title: Reason
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.prompts.delete(prompt_id=982839, reason=\"<value>\")\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.prompts.delete({\n    promptId: 982839,\n    reason: \"<value>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
  /api/v1/prompts/{prompt_id}/history:
    get:
      tags:
      - prompts
      summary: Get Prompt History
      description: Get a list of historical versions of a prompt by its ID
      operationId: prompts_history
      security:
      - APIKeyHeader: []
      parameters:
      - name: prompt_id
        in: path
        required: true
        schema:
          type: integer
          title: Prompt Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromptHistory'
                title: Response Prompts History
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.prompts.prompts_history(prompt_id=922849)\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.prompts.promptsHistory({\n    promptId: 922849,\n  });\n\n  console.log(result);\n}\n\nrun();"
  /api/v1/prompts/llms/supported:
    get:
      tags:
      - prompts
      summary: Get Supported Llm Configs
      description: Get supported LLM configs.
      operationId: prompt_get_supported_llms
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupportedLlm'
                type: array
                title: Response Prompt Get Supported Llms
      security:
      - APIKeyHeader: []
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.prompts.prompt_get_supported_llms()\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.prompts.promptGetSupportedLlms();\n\n  console.log(result);\n}\n\nrun();"
components:
  schemas:
    PromptResponse:
      properties:
        name:
          type: string
          title: Name
          description: The prompt name
          examples:
          - Weather Agent Prompt
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the prompt
          examples:
          - Prompt for a weather agent.
        type:
          type: string
          title: Type
          description: The type of the prompt
          examples:
          - prompt_v1
        context:
          anyOf:
          - type: string
          - type: 'null'
          title: Context
          description: The prompt text that will be sent to the LLM at the beginning of the conversation
          examples:
          - You are a weather agent. Answer the user's questions about weather and nothing else.
        tools:
          items:
            type: string
          type: array
          title: Tools
          description: Names of the tools to which the prompt has access (DEPRECATED - use information from full tools field instead)
          default: []
          deprecated: true
          examples:
          - hangup
          - summary
        llm_config:
          $ref: '#/components/schemas/PromptLlmConfig'
          description: The configuration for the LLM that the prompt uses
          examples:
          - model: gpt-4o
            provider: openai
            version: '2024-08-06'
        session_end_enabled:
          type: boolean
          title: Session End Enabled
          description: Whether session end functionality is enabled for this prompt
          default: false
          examples:
          - false
        session_end_tool_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Session End Tool Id
          description: ID of the optional session end tool associated with the prompt
          examples:
          - 1
        edit_comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Edit Comments
          description: The comments for the most recent edit to the prompt
          examples:
          - Updated prompt text to include requirement to not answer questions that aren't about weather.
        id:
          type: integer
          title: Id
          description: The internal ID of the prompt
          examples:
          - 1
        last_updated:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Updated
          description: The last updated date of the prompt
          examples:
          - '2024-01-01T12:00:00Z'
        last_updated_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Updated By
          description: Email address of the user who most recently updated the prompt
          examples:
          - user@email.com
        session_end_tool:
          anyOf:
          - $ref: '#/components/schemas/DaoToolResponse'
          - type: 'null'
          description: The session end tool associated with the prompt
          examples: []
        agent_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Agent Count
          description: The number of agents using the prompt
          examples:
          - 5
        version_number:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version Number
          description: The version number of the current version of the prompt
          examples:
          - 1
        tools_full:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolResponse'
            type: array
          - type: 'null'
          title: Tools Full
          description: Full definitions of tools to which the prompt has access
          examples: []
      type: object
      required:
      - name
      - type
      - llm_config
      - id
      - last_updated
      title: PromptResponse
      description: 'Response model for prompt operations.

        A prompt defines the behavior of an agent by delivering instructions to the LLM about how the

        agent should behave. A prompt can be linked to one or more agents. A prompt can also be linked to

        tools to allow an agent using it to use those tools. For more information, see

        [Console docs](https://docs.syllable.ai/Resources/Prompts).'
    PromptLlmProvider:
      type: string
      enum:
      - anthropic
      - azure_openai
      - google
      - openai
      title: PromptLlmProvider
      description: LLM API provider.
    CallAction:
      properties:
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        action:
          type: string
          const: call
          title: Action
          default: call
        name:
          type: string
          title: Name
          description: The name of the tool to call.
        arguments:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/JsonValue'
            type: object
          - type: 'null'
          title: Arguments
          description: Optional arguments to pass to the tool (supports template strings)
        result:
          anyOf:
          - $ref: '#/components/schemas/CallResult'
          - type: 'null'
          description: Optional deterministic result-capture configuration. When present, selected fields from the tool response are saved into workflow state, so later transitions/conditions/validations can branch on them without the model re-deriving them from tool call history. Currently applied only when the call is routed in inject mode (arguments already complete); hinted/routed calls are not yet supported.
      type: object
      required:
      - name
      title: CallAction
    SayAction:
      properties:
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        text:
          type: string
          title: Text
          description: Text to apply if the condition is true.
        action:
          type: string
          const: say
          title: Action
          default: say
        role:
          type: string
          enum:
          - user
          - assistant
          title: Role
          description: The role of the message.
          default: assistant
      type: object
      required:
      - text
      title: SayAction
    StepTools:
      properties:
        call:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Call
          description: Whether to force immediate tool call without user interaction.
        allow:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Allow
          description: List of allowed tool names for this step.
        allowGoToStep:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Allowgotostep
          description: Whether to expose the go_to_step escape hatch to the LLM. Defaults to disabled.
      type: object
      title: StepTools
      description: Configuration for tools available in a step.
    InputParameter:
      properties:
        name:
          type: string
          title: Name
          description: The name of the property.
        type:
          anyOf:
          - type: string
            enum:
            - string
            - number
            - integer
            - boolean
            - object
            - array
            - 'null'
          - type: 'null'
          title: Type
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
        format:
          anyOf:
          - type: string
          - type: 'null'
          title: Format
        pattern:
          anyOf:
          - type: string
          - type: 'null'
          title: Pattern
        enum:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Enum
        examples:
          anyOf:
          - items:
              $ref: '#/components/schemas/JsonValue'
            type: array
          - type: 'null'
          title: Examples
        required:
          type: boolean
          title: Required
          default: true
      type: object
      required:
      - name
      title: InputParameter
    ToolArgumentLocation:
      type: string
      enum:
      - body
      - form
      - path
      - query
      title: ToolArgumentLocation
      description: 'The location of the argument in a tool HTTP request.

        ''body'' is used for JSON data in the POST request body.

        ''form'' is used for form data in the POST request body.

        ''path'' is used for URL path parameters.

        ''query'' is used for query parameters in the URL.'
    PromptHistory:
      properties:
        timestamp:
          type: string
          format: date-time
          title: Timestamp
          description: Timestamp of the change resulting in this version
          examples:
          - '2024-01-01T12:00:00Z'
        prompt_id:
          type: string
          title: Prompt Id
          description: ID of the prompt
          examples:
          - '1'
        version_number:
          type: integer
          title: Version Number
          description: Version number of this version. Starts at 1 when prompt is created, and incremented on each change.
          examples:
          - 1
        prompt_text:
          type: string
          title: Prompt Text
          description: Text of the prompt at this version
          examples:
          - You are a weather agent. Answer the user's questions about weather and nothing else.
        prompt_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt Description
          description: Description of the prompt at this version
          examples:
          - Prompt for a weather agent.
        prompt_name:
          type: string
          title: Prompt Name
          description: Name of the prompt at this version
          examples:
          - Weather Agent Prompt
        llm_config:
          anyOf:
          - $ref: '#/components/schemas/PromptLlmConfig'
          - type: 'null'
          description: String representation of LLM config for the prompt at this version
        comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Comments
          description: Comments describing the change that resulted in this version
          examples:
          - Updated prompt text to include requirement to not answer questions that aren't about weather.
        user_email:
          type: string
          title: User Email
          description: Email address of the user who made the change that resulted in this version
          examples:
          - user@email.com
        linked_tools:
          items:
            $ref: '#/components/schemas/PromptHistoryLinkedTool'
          type: array
          title: Linked Tools
          description: Tools that were linked to this version of the prompt
          default: []
        session_end_tool:
          anyOf:
          - $ref: '#/components/schemas/PromptHistoryLinkedTool'
          - type: 'null'
          description: Session end tool that was configured on this version of the prompt, if any
        is_pre_enhancements:
          type: boolean
          title: Is Pre Enhancements
          description: Whether this version of the prompt was created before history of tool-prompt linking was tracked
          examples:
          - true
      type: object
      required:
      - timestamp
      - prompt_id
      - version_number
      - prompt_text
      - prompt_name
      - user_email
      - is_pre_enhancements
      title: PromptHistory
      description: Record of a specific version of a prompt.
    GetValueAction:
      properties:
        value:
          anyOf:
          - $ref: '#/components/schemas/JsonValue'
          - type: 'null'
          description: Initial value of the variable.
        valueFrom:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: Valuefrom
          description: 'Expression that computes the value. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Mutually exclusive with value.'
          examples:
          - inputs.provided_dob == patient_dob
          - expression: inputs.provided_dob == patient_dob
            type: jmespath
          - expression: inputs.count + 1
            type: cel
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        action:
          type: string
          enum:
          - get
          - load
          title: Action
          description: Populate default input values.
          default: get
        inputs:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Inputs
          description: Input field names to populate; None populates all step inputs.
        overwrite:
          type: boolean
          title: Overwrite
          description: If False (default), only populate empty inputs. If True, always overwrite.
          default: false
      type: object
      title: GetValueAction
    ToolOptions:
      properties:
        propagate_tool_result:
          type: boolean
          title: Propagate Tool Result
          description: Whether the tool call result should be propagated to the caller.
          default: false
      type: object
      title: ToolOptions
      description: The options for a tool call.
    CallResult:
      properties:
        save:
          items:
            $ref: '#/components/schemas/CallResultSaveMapping'
          type: array
          title: Save
          description: Field mappings extracted from the tool response into workflow state.
      type: object
      title: CallResult
      description: Deterministic result-capture configuration for a call action's tool response.
    ToolHttpMethod:
      type: string
      enum:
      - get
      - post
      - put
      - delete
      title: ToolHttpMethod
      description: The HTTP method to use for a tool HTTP request.
    CelExpression:
      properties:
        expression:
          type: string
          title: Expression
          description: CEL expression string.
          examples:
          - inputs.can_sign_consent == true
        type:
          type: string
          const: cel
          title: Type
          description: CEL expression language selector. Use with object form {"type":"cel","expression":"..."}.
          default: cel
      type: object
      required:
      - expression
      title: CelExpression
      description: 'Google CEL expression object.


        Use this object form when you want CEL syntax:

        {"type": "cel", "expression": "inputs.count + 1"}

        See https://github.com/google/cel-spec/blob/master/doc/langdef.md'
    NextStep:
      properties:
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        id:
          type: string
          title: Id
          description: The identifier of the next step.
        requires:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Requires
          description: List of input field names required for this transition. Validates that specified inputs are collected before allowing transition.
      type: object
      required:
      - id
      title: NextStep
      description: Represents a conditional transition to the next step.
    StepEventActions:
      properties:
        start:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/SetValueAction'
              - $ref: '#/components/schemas/IncrementAction'
              - $ref: '#/components/schemas/CallAction'
              - $ref: '#/components/schemas/SayAction'
              discriminator:
                propertyName: action
                mapping:
                  call: '#/components/schemas/CallAction'
                  inc: '#/components/schemas/IncrementAction'
                  say: '#/components/schemas/SayAction'
                  set: '#/components/schemas/SetValueAction'
            type: array
          - type: 'null'
          title: Start
          description: Actions to execute on the first input from the user.
        enter:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/GetValueAction'
              - $ref: '#/components/schemas/SetValueAction'
              - $ref: '#/components/schemas/IncrementAction'
              - $ref: '#/components/schemas/CallAction'
              - $ref: '#/components/schemas/SayAction'
              discriminator:
                propertyName: action
                mapping:
                  call: '#/components/schemas/CallAction'
                  get: '#/components/schemas/GetValueAction'
                  inc: '#/components/schemas/IncrementAction'
                  load: '#/components/schemas/GetValueAction'
                  say: '#/components/schemas/SayAction'
                  set: '#/components/schemas/SetValueAction'
            type: array
          - type: 'null'
          title: Enter
          description: Actions to execute when entering a step (before collecting inputs).
        presubmit:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/GetValueAction'
              - $ref: '#/components/schemas/SetValueAction'
              - $ref: '#/components/schemas/IncrementAction'
              - $ref: '#/components/schemas/SaveAction'
              discriminator:
                propertyName: action
                mapping:
                  get: '#/components/schemas/GetValueAction'
                  inc: '#/components/schemas/IncrementAction'
                  load: '#/components/schemas/GetValueAction'
                  save: '#/components/schemas/SaveAction'
                  set: '#/components/schemas/SetValueAction'
            type: array
          - type: 'null'
          title: Presubmit
          description: 'Actions to execute before validation (data-mutation only: set, inc, save). Use this to set default values for required fields that would otherwise fail validation.'
        submit:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/SetValueAction'
              - $ref: '#/components/schemas/IncrementAction'
              - $ref: '#/components/schemas/SaveAction'
              - $ref: '#/components/schemas/CallAction'
              - $ref: '#/components/schemas/SayAction'
              discriminator:
                propertyName: action
                mapping:
                  call: '#/components/schemas/CallAction'
                  inc: '#/components/schemas/IncrementAction'
                  save: '#/components/schemas/SaveAction'
                  say: '#/components/schemas/SayAction'
                  set: '#/components/schemas/SetValueAction'
            type: array
          - type: 'null'
          title: Submit
          description: Actions to execute when the tool/step is submitted by the LLM.
      type: object
      title: StepEventActions
      description: Actions to perform when events occur (enter, presubmit, submit).
    ToolPromptInfo:
      properties:
        id:
          type: integer
          title: Id
          description: The ID of the prompt
          examples:
          - 1
        name:
          type: string
          title: Name
          description: The name of the prompt
          examples:
          - Test Prompt
      type: object
      required:
      - id
      - name
      title: ToolPromptInfo
      description: Information about a prompt linked to a tool.
    ConditionalText:
      properties:
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        text:
          type: string
          title: Text
          description: Text to apply if the condition is true.
      type: object
      required:
      - text
      title: ConditionalText
    ToolParameterDefault:
      properties:
        transform:
          $ref: '#/components/schemas/ToolParameterTransform'
          description: The transform to apply to the value before using it as the default.
          examples: []
      type: object
      required:
      - transform
      title: ToolParameterDefault
      description: The default value for a parameter of a tool call.
    Context:
      properties:
        task:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/ExpressionTask'
            - $ref: '#/components/schemas/LoadToolFromFileTask'
            - $ref: '#/components/schemas/EventTask'
            - $ref: '#/components/schemas/StepsTask'
            discriminator:
              propertyName: type
              mapping:
                event: '#/components/schemas/EventTask'
                expression: '#/components/schemas/ExpressionTask'
                import: '#/components/schemas/LoadToolFromFileTask'
                steps: '#/components/schemas/StepsTask'
          - items:
              oneOf:
              - $ref: '#/components/schemas/ExpressionTask'
              - $ref: '#/components/schemas/LoadToolFromFileTask'
              - $ref: '#/components/schemas/EventTask'
              - $ref: '#/components/schemas/StepsTask'
              discriminator:
                propertyName: type
                mapping:
                  event: '#/components/schemas/EventTask'
                  expression: '#/components/schemas/ExpressionTask'
                  import: '#/components/schemas/LoadToolFromFileTask'
                  steps: '#/components/schemas/StepsTask'
            type: array
          - type: 'null'
          title: Task
          description: Task implementation details
      type: object
      title: Context
    ToolParameterTransformCondition:
      properties:
        key:
          type: string
          title: Key
          description: The name of the parameter to check.
          examples:
          - key
        value:
          type: string
          title: Value
          description: The value to check against the parameter.
          examples:
          - value
        operator:
          anyOf:
          - type: string
            const: eq
          - type: 'null'
          title: Operator
          description: The operator to use for the comparison. Currently only supports "eq"
          default: eq
          examples:
          - eq
      type: object
      required:
      - key
      - value
      title: ToolParameterTransformCondition
      description: A condition to be met for a transform to be applied to the value of a tool parameter.
    OrderByDirection:
      type: string
      enum:
      - asc
      - desc
      title: OrderByDirection
      description: The direction in which to order list results, either ascending or descending.
    IncrementAction:
      properties:
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        action:
          type: string
          const: inc
          title: Action
          default: inc
        name:
          type: string
          title: Name
          description: Numeric destination path to increment.
        by:
          type: integer
          title: By
          description: Increment amount (defaults to 1).
          default: 1
      type: object
      required:
      - name
      title: IncrementAction
    ExpressionTaskEvents:
      properties:
        start:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/SetValueAction'
              - $ref: '#/components/schemas/IncrementAction'
              - $ref: '#/components/schemas/CallAction'
              - $ref: '#/components/schemas/SayAction'
              discriminator:
                propertyName: action
                mapping:
                  call: '#/components/schemas/CallAction'
                  inc: '#/components/schemas/IncrementAction'
                  say: '#/components/schemas/SayAction'
                  set: '#/components/schemas/SetValueAction'
            type: array
          - type: 'null'
          title: Start
          description: Actions to execute on the first input from the user.
        submit:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/SetValueAction'
              - $ref: '#/components/schemas/IncrementAction'
              - $ref: '#/components/schemas/SaveAction'
              - $ref: '#/components/schemas/CallAction'
              - $ref: '#/components/schemas/SayAction'
              discriminator:
                propertyName: action
                mapping:
                  call: '#/components/schemas/CallAction'
                  inc: '#/components/schemas/IncrementAction'
                  save: '#/components/schemas/SaveAction'
                  say: '#/components/schemas/SayAction'
                  set: '#/components/schemas/SetValueAction'
            type: array
          - type: 'null'
          title: Submit
          description: Actions to execute when the tool/step is submitted by the LLM.
      type: object
      title: ExpressionTaskEvents
      description: Actions to perform when events occur (start, submit).
    ListResponse_PromptResponse_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PromptResponse'
          type: array
          title: Items
          description: List of items returned from the query
          examples: []
        page:
          type: integer
          title: Page
          description: The page number of the results (0-based)
          examples:
          - 0
        page_size:
          type: integer
          title: Page Size
          description: The number of items returned per page
          examples:
          - 25
        total_pages:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Pages
          description: The total number of pages of results given the indicated page size
          examples:
          - 4
        total_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Count
          description: The total number of items returned from the query
          examples:
          - 100
      type: object
      required:
      - items
      - page
      - page_size
      title: ListResponse[PromptResponse]
    ContextTaskMetadata:
      properties:
        priority:
          anyOf:
          - type: integer
          - type: 'null'
          title: Priority
      type: object
      title: ContextTaskMetadata
    EventTask:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
          description: A unique identifier for the task.
        config:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/JsonValue'
            type: object
          - type: 'null'
          title: Config
        variables:
          anyOf:
          - items:
              $ref: '#/components/schemas/Variable'
            type: array
          - type: 'null'
          title: Variables
        metadata:
          anyOf:
          - $ref: '#/components/schemas/ContextTaskMetadata'
          - type: 'null'
        tool:
          anyOf:
          - $ref: '#/components/schemas/ContextToolInfo'
          - type: 'null'
        type:
          type: string
          const: event
          title: Type
          default: event
        version:
          type: string
          const: v1alpha
          title: Version
          default: v1alpha
        true:
          $ref: '#/components/schemas/EventTaskEvents'
          description: Actions to execute when the configured events occur.
      type: object
      title: EventTask
    PromptLlmConfig:
      properties:
        provider:
          $ref: '#/components/schemas/PromptLlmProvider'
          description: Provider of the LLM model.
          default: azure_openai
          examples:
          - anthropic
          - azure_openai
          - google
          - openai
        model:
          type: string
          title: Model
          description: Name of the model. Must match the deployment name in Azure AI Studio.
          default: gpt-4o
          examples:
          - gpt-4o
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: Deprecated model version. This value is ignored and resolved automatically.
          deprecated: true
          examples:
          - '2024-05-13'
        api_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Version
          description: Version of the provider's API.
          examples:
          - '2024-06-01'
        temperature:
          anyOf:
          - type: number
          - type: 'null'
          title: Temperature
          description: Temperature parameter for the model. Determines randomness of responses - higher is more random, lower is more focused. Must be between 0.0 and 2.0, inclusive.
          examples:
          - 1.0
        seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Seed
          description: Controls the reproducibility of the job. The LLM will give the same or similar responses given the same inputs in multiple conversations with the same seed.
          examples:
          - 123
      type: object
      title: PromptLlmConfig
      description: LLM configuration for a prompt.
    EventTaskEvents:
      properties:
        start:
          anyOf:
          - items:
              oneOf:
              - $ref: '#/components/schemas/SetValueAction'
              - $ref: '#/components/schemas/IncrementAction'
              - $ref: '#/components/schemas/CallAction'
              - $ref: '#/components/schemas/SayAction'
              discriminator:
                propertyName: action
                mapping:
                  call: '#/components/schemas/CallAction'
                  inc: '#/components/schemas/IncrementAction'
                  say: '#/components/schemas/SayAction'
                  set: '#/components/schemas/SetValueAction'
            type: array
          - type: 'null'
          title: Start
          description: Actions to execute on the first input from the user.
      type: object
      title: EventTaskEvents
    JsonValue: {}
    JMESPathExpression:
      properties:
        expression:
          type: string
          title: Expression
          description: JMESPath expression string.
          examples:
          - inputs.can_sign_consent == `true`
        type:
          type: string
          enum:
          - jp
          - jmespath
          title: Type
          description: JMESPath expression language selector. Use with object form {"type":"jp"|"jmespath","expression":"..."}.
          default: jp
      type: object
      required:
      - expression
      title: JMESPathExpression
      description: 'JMESPath expression object.


        Use this object form to explicitly mark JMESPath syntax:

        {"type": "jp", "expression": "inputs.can_sign_consent == `true`"}

        See https://jmespath.org/specification.html#grammar'
    StaticToolParameter:
      properties:
        name:
          type: string
          title: Name
          description: The name of the parameter - must be unique within the tool.
          examples:
          - temperature_unit
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the parameter.
          examples:
          - Whether the temperature information should be fetched in celsius or fahrenheit.
        required:
          type: boolean
          title: Required
          description: Whether the parameter is required to have a value assigned.
          examples:
          - true
        type:
          $ref: '#/components/schemas/StaticToolParameterType'
          description: The expected type for the parameter.
          examples:
          - string
        default:
          anyOf:
          - {}
          - type: 'null'
          title: Default
          description: The default value for the parameter. If `type` is string, must be a string. If `type` is int, must be an int. If `type` is boolean, must be a boolean. If `type` is data_source_list, must be a list of strings (data source names).
          examples:
          - fahrenheit
      type: object
      required:
      - name
      - required
      - type
      title: StaticToolParameter
      description: A parameter for the tool whose value should be set at config time.
    SupportedLlm:
      properties:
        provider:
          $ref: '#/components/schemas/PromptLlmProvider'
          description: Provider of the LLM model.
          default: azure_openai
          examples:
          - azure_openai
        model:
          type: string
          title: Model
          description: Name of the model. Must match the deployment name in Azure AI Studio.
          default: gpt-4o
          examples:
          - gpt-4o
        display_name:
          type: string
          title: Display Name
          description: Display name of the model. This is used for display purposes in the Console UI.
          examples:
          - GPT-4o
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: Deprecated model version retained for backward compatibility.
          deprecated: true
          examples:
          - '2024-05-13'
        api_version:
          anyOf:
          - type: string
          - type: 'null'
          title: Api Version
          description: Version of the provider's API.
          examples:
          - '2024-06-01'
        deprecated:
          type: boolean
          title: Deprecated
          description: Whether the LLM config is deprecated and should not be used.
          examples:
          - false
      type: object
      required:
      - display_name
      - deprecated
      title: SupportedLlm
      description: LLM config option that can be used on a prompt.
    DaoToolResponse:
      properties:
        name:
          type: string
          title: Name
          description: The name of the tool
          examples:
          - Weather Fetcher
        definition:
          $ref: '#/components/schemas/ToolDefinition'
          description: The definition of the tool
          examples:
          - endpoint:
              argument_location: query
              method: get
              url: https://api.open-meteo.com/v1/forecast
            static_parameters:
            - default: fahrenheit
              description: Whether the temperature information should be fetched in Celsius or Fahrenheit
              name: temperature_unit
              required: false
              type: string
            tool:
              function:
                description: Get the weather for a city
                name: get_weather
                parameters:
                  properties:
                    latitude:
                      description: Latitude of the city
                      type: number
                    longitude:
                      description: Longitude of the city
                      type: number
                    current:
                      default: temperature_2m,relative_humidity_2m,precipitation,rain,showers
                      description: Information to retrieve from the open-meteo API, comma-separated
                      type: string
                  required:
                  - latitude
                  - longitude
                  - current
                  type: object
              type: function
            type: endpoint
        service_id:
          type: integer
          title: Service Id
          description: Internal ID of the service to which the tool belongs
          examples:
          - 1
        id:
          type: integer
          title: Id
          description: The internal ID of the tool
          examples:
          - 1
        last_updated_comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Updated Comments
          description: Comments for the most recent edit to the tool.
          examples:
          - Updated to use new API endpoint
        service_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Service Name
          description: The name of the service to which the tool belongs
        prompts_info:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolPromptInfo'
            type: array
          - type: 'null'
          title: Prompts Info
          description: IDs and names of the prompts linked to the tool
        agents_info:
          anyOf:
          - items:
              $ref: '#/components/schemas/ToolAgentInfo'
            type: array
          - type: 'null'
          title: Agents Info
          description: IDs and names of the agents linked to the tool via a prompt
        last_updated:
          type: string
          format: date-time
          title: Last Updated
          description: The timestamp of the most recent update to the tool
        last_updated_by:
          type: string
          title: Last Updated By
          description: The email of the user who last updated the tool
          examples:
          - user@email.com
        version_number:
          type: integer
          title: Version Number
          description: Highest tools_history snapshot version for this tool; the tools row defaults to 1.
          examples:
          - 1
      type: object
      required:
      - name
      - definition
      - service_id
      - id
      - last_updated
      - last_updated_by
      - version_number
      title: DaoToolResponse
    PromptCreateRequest:
      properties:
        name:
          type: string
          title: Name
          description: The prompt name
          examples:
          - Weather Agent Prompt
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the prompt
          examples:
          - Prompt for a weather agent.
        type:
          type: string
          title: Type
          description: The type of the prompt
          examples:
          - prompt_v1
        context:
          anyOf:
          - type: string
          - type: 'null'
          title: Context
          description: The prompt text that will be sent to the LLM at the beginning of the conversation
          examples:
          - You are a weather agent. Answer the user's questions about weather and nothing else.
        tools:
          items:
            type: string
          type: array
          title: Tools
          description: Names of tools to which the prompt has access
          default: []
          examples:
          - []
        llm_config:
          $ref: '#/components/schemas/PromptLlmConfig'
          description: The configuration for the LLM that the prompt uses
          examples:
          - model: gpt-4o
            provider: openai
            version: '2024-08-06'
        session_end_enabled:
          type: boolean
          title: Session End Enabled
          description: Whether session end functionality is enabled for this prompt
          default: false
          examples:
          - false
        session_end_tool_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Session End Tool Id
          description: ID of the optional session end tool associated with the prompt
          examples:
          - 1
        edit_comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Edit Comments
          description: The comments for the most recent edit to the prompt
          examples:
          - Updated prompt text to include requirement to not answer questions that aren't about weather.
        include_default_tools:
          type: boolean
          title: Include Default Tools
          description: Whether to include the default tools (`hangup`) in the list of tools for the prompt (also includes set_current_language if any of the agents assigned to the prompt have Dynamic Language Switching enabled). If you disable this during creation, you might want to disable it during updates as well; otherwise the default tools will be added when updating the prompt.
          default: true
          examples:
          - true
      type: object
      required:
      - name
      - type
      - llm_config
      title: PromptCreateRequest
      description: Request model to create a prompt.
    ToolParameterTransform:
      properties:
        action:
          type: string
          enum:
          - default
          - override
          - remove
          title: Action
          description: 'The action to perform on the tool parameter value: `default` means only set the value (using the `format` field) if the parameter doesn''t exist or is empty, `override` means always set the value," and `remove` means "remove the parameter value."'
          default: default
          examples: []
        when:
          anyOf:
          - $ref: '#/components/schemas/ToolParameterTransformCondition'
          - type: 'null'
          description: Only apply the transform if the condition is met.
          examples: []
        value:
          anyOf:
          - {}
          - type: 'null'
          title: Value
          description: The default value to use for the parameter.
          examples: []
        format:
          anyOf:
          - type: string
          - type: 'null'
          title: Format
          description: The string value to use for the parameter. The value will be evaluated with the Python `str.format` method, for example, `Hello, {name}!`
          examples: []
      type: object
      title: ToolParameterTransform
      description: 'A transform to be applied to the value of a tool parameter.


        Either `value` or `format` must be set:

        - `value` is any arbitrary value: string, list or dictionary.

        - `format` is a string composed of other parameters or context variables.'
    CaseExpression:
      properties:
        case:
          items:
            $ref: '#/components/schemas/ConditionalValue'
          type: array
          title: Case
          description: Ordered conditional branches (reserved for future runtime support).
      type: object
      required:
      - case
      title: CaseExpression
      description: 'Conditional branch expression.


        Note: CaseExpression is currently reserved and not yet executed at runtime.'
    StepsTask:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
          description: A unique identifier for the task.
        config:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/JsonValue'
            type: object
          - type: 'null'
          title: Config
        variables:
          anyOf:
          - items:
              $ref: '#/components/schemas/Variable'
            type: array
          - type: 'null'
          title: Variables
        metadata:
          anyOf:
          - $ref: '#/components/schemas/ContextTaskMetadata'
          - type: 'null'
        tool:
          anyOf:
          - $ref: '#/components/schemas/ContextToolInfo'
          - type: 'null'
        type:
          type: string
          const: steps
          title: Type
          default: steps
        version:
          type: string
          const: v1alpha
          title: Version
          default: v1alpha
        start:
          type: string
          enum:
          - auto
          - manual
          title: Start
          description: Controls when the workflow activation lifecycle runs. `auto` activates at session start; `manual` activates on first invocation.
          default: auto
        steps:
          items:
            $ref: '#/components/schemas/Step'
          type: array
          title: Steps
      type: object
      title: StepsTask
    Step:
      properties:
        id:
          type: string
          title: Id
          description: The unique identifier of the step.
        goal:
          type: string
          title: Goal
          description: The goal of the step.
        instructions:
          items:
            anyOf:
            - $ref: '#/components/schemas/ConditionalText'
            - type: string
          type: array
          title: Instructions
          description: The instructions for the step.
        tools:
          $ref: '#/components/schemas/StepTools'
          description: The tools configuration for the step.
        inputs:
          items:
            $ref: '#/components/schemas/InputParameter'
          type: array
          title: Inputs
          description: The inputs for the step.
        true:
          $ref: '#/components/schemas/StepEventActions'
          description: The events that trigger the actions to be executed.
        next:
          items:
            anyOf:
            - $ref: '#/components/schemas/NextStep'
            - type: string
          type: array
          title: Next
          description: The next steps to execute.
      type: object
      required:
      - id
      - goal
      title: Step
    SaveAction:
      properties:
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        action:
          type: string
          const: save
          title: Action
          default: save
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Target name to save (defaults to global variable).
        inputs:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Inputs
          description: Input field names to persist; None saves all collected inputs.
      type: object
      title: SaveAction
    ToolAgentInfo:
      properties:
        id:
          type: integer
          title: Id
          description: The internal ID of the agent
          examples:
          - 1
        name:
          type: string
          title: Name
          description: The name of the agent
          examples:
          - Test Agent
      type: object
      required:
      - id
      - name
      title: ToolAgentInfo
      description: Information about an agent linked to a tool via a prompt.
    ExpressionTask:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
          description: A unique identifier for the task.
        config:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/JsonValue'
            type: object
          - type: 'null'
          title: Config
        variables:
          anyOf:
          - items:
              $ref: '#/components/schemas/Variable'
            type: array
          - type: 'null'
          title: Variables
        metadata:
          anyOf:
          - $ref: '#/components/schemas/ContextTaskMetadata'
          - type: 'null'
        tool:
          anyOf:
          - $ref: '#/components/schemas/ContextToolInfo'
          - type: 'null'
        type:
          type: string
          const: expression
          title: Type
          default: expression
        version:
          type: string
          const: v1alpha
          title: Version
          default: v1alpha
        inputs:
          items:
            $ref: '#/components/schemas/InputParameter'
          type: array
          title: Inputs
        expression:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: Expression
          description: 'Expression for task output/logic. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}.'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        output:
          anyOf:
          - $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        true:
          $ref: '#/components/schemas/ExpressionTaskEvents'
          description: Actions to execute when the configured events occur.
      type: object
      title: ExpressionTask
    ToolDefinition:
      properties:
        type:
          anyOf:
          - type: string
            enum:
            - action
            - endpoint
            - context
            - log
          - type: 'null'
          title: Type
          description: The action to take when the LLM calls the tool.
          examples:
          - endpoint
        tool:
          $ref: '#/components/schemas/InternalTool'
          description: The tool definition to be used by the OpenAI API.
          examples: []
        endpoint:
          anyOf:
          - $ref: '#/components/schemas/ToolHttpEndpoint'
          - type: 'null'
          description: The configuration for an HTTP API call.
          examples: []
        context:
          anyOf:
          - $ref: '#/components/schemas/Context'
          - type: 'null'
          description: The configuration for a context tool.
        defaults:
          anyOf:
          - {}
          - additionalProperties:
              $ref: '#/components/schemas/ToolParameterDefault'
            type: object
          - type: 'null'
          title: Defaults
          description: The default values for the parameters of the function/tool call.
          examples: []
        static_parameters:
          anyOf:
          - items:
              $ref: '#/components/schemas/StaticToolParameter'
            type: array
          - type: 'null'
          title: Static Parameters
          description: Parameters for the tool whose values should be set at config time (i.e., not provided by the LLM).
          examples:
          - - default: fahrenheit
              description: Whether the temperature information should be fetched in Celsius or Fahrenheit
              name: temperature_unit
              required: false
              type: string
        result:
          anyOf:
          - {}
          - type: 'null'
          title: Result
          description: The optional result of the tool call.
          examples: []
        options:
          anyOf:
          - $ref: '#/components/schemas/ToolOptions'
          - type: 'null'
          description: The options for the tool. Ie allows to propagate the tool result to the caller via propagate_tool_result flag.
          examples: []
      type: object
      required:
      - tool
      title: ToolDefinition
      description: A tool that can be called from an LLM during the conversation. See https://docs.syllable.ai/Resources/Tools.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PromptUpdateRequest:
      properties:
        name:
          type: string
          title: Name
          description: The prompt name
          examples:
          - Weather Agent Prompt
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the prompt
          examples:
          - Prompt for a weather agent.
        type:
          type: string
          title: Type
          description: The type of the prompt
          examples:
          - prompt_v1
        context:
          anyOf:
          - type: string
          - type: 'null'
          title: Context
          description: The prompt text that will be sent to the LLM at the beginning of the conversation
          examples:
          - You are a weather agent. Answer the user's questions about weather and nothing else.
        tools:
          items:
            type: string
          type: array
          title: Tools
          description: Names of tools to which the prompt has access
          default: []
          examples:
          - []
        llm_config:
          $ref: '#/components/schemas/PromptLlmConfig'
          description: The configuration for the LLM that the prompt uses
          examples:
          - model: gpt-4o
            provider: openai
            version: '2024-08-06'
        session_end_enabled:
          type: boolean
          title: Session End Enabled
          description: Whether session end functionality is enabled for this prompt
          default: false
          examples:
          - false
        session_end_tool_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Session End Tool Id
          description: ID of the optional session end tool associated with the prompt
          examples:
          - 1
        edit_comments:
          anyOf:
          - type: string
          - type: 'null'
          title: Edit Comments
          description: The comments for the most recent edit to the prompt
          examples:
          - Updated prompt text to include requirement to not answer questions that aren't about weather.
        id:
          type: integer
          title: Id
          description: The internal ID of the prompt
          examples:
          - 1
        include_default_tools:
          type: boolean
          title: Include Default Tools
          description: Whether to include the default tools (`hangup`) in the list of tools for the prompt (also includes set_current_language if any of the agents assigned to the prompt have Dynamic Language Switching enabled). If you remove one of the default tools from your prompt, you might want to disable this option so that the tool is not added again when updated.
          default: true
          examples:
          - true
      type: object
      required:
      - name
      - type
      - llm_config
      - id
      title: PromptUpdateRequest
      description: Request model to update an existing prompt.
    PromptProperties:
      type: string
      enum:
      - id
      - name
      - name_exact
      - description
      - name_description
      - context
      - tools
      - llm_config
      - last_updated
      - last_updated_by
      - agent_count
      - session_end_enabled
      title: PromptProperties
      description: Names of prompt fields supported for filtering/sorting on list endpoint.
    PromptHistoryLinkedTool:
      properties:
        tool_id:
          type: integer
          title: Tool Id
          description: ID of the tool
          examples:
          - 1
        current_tool_name:
          type: string
          title: Current Tool Name
          description: Current name of the tool (may have been different at the time the given version of the prompt was created)
          examples:
          - hangup
        out_of_date:
          type: boolean
          title: Out Of Date
          description: Whether the tool has changed (not including being deleted) since the given version of the prompt was created
          examples:
          - false
        deleted:
          type: boolean
          title: Deleted
          description: Whether the tool has been deleted since the given version of the prompt was created
          examples:
          - false
      type: object
      required:
      - tool_id
      - current_tool_name
      - out_of_date
      - deleted
      title: PromptHistoryLinkedTool
      description: Record of a tool linked to a previous prompt version in the prompt history.
    SetValueAction:
      properties:
        value:
          anyOf:
          - $ref: '#/components/schemas/JsonValue'
          - type: 'null'
          description: Initial value of the variable.
        valueFrom:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: Valuefrom
          description: 'Expression that computes the value. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Mutually exclusive with value.'
          examples:
          - inputs.provided_dob == patient_dob
          - expression: inputs.provided_dob == patient_dob
            type: jmespath
          - expression: inputs.count + 1
            type: cel
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
        action:
          type: string
          const: set
          title: Action
          default: set
        name:
          type: string
          title: Name
          description: Destination path to mutate (e.g. output.foo).
      type: object
      required:
      - name
      title: SetValueAction
    ValidationIssue:
      properties:
        id:
          type: string
          title: Id
          description: Stable machine-readable identifier (kebab-case)
        severity:
          type: string
          enum:
          - info
          - warning
          - error
          title: Severity
          default: error
        message:
          type: string
          title: Message
          description: Human-readable description
        path:
          anyOf:
          - type: string
          - type: 'null'
          title: Path
          description: JSONPath-style location (e.g. $.context.task.steps[2])
        value:
          anyOf:
          - type: string
          - type: 'null'
          title: Value
          description: The offending value, when it adds clarity
      type: object
      required:
      - id
      - message
      title: ValidationIssue
      description: A single validation finding with severity, location, and description.
    Variable:
      properties:
        value:
          anyOf:
          - $ref: '#/components/schemas/JsonValue'
          - type: 'null'
          description: Initial value of the variable.
        valueFrom:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: Valuefrom
          description: 'Expression that computes the value. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Mutually exclusive with value.'
          examples:
          - inputs.provided_dob == patient_dob
          - expression: inputs.provided_dob == patient_dob
            type: jmespath
          - expression: inputs.count + 1
            type: cel
        name:
          type: string
          title: Name
          description: The name of the property.
        type:
          anyOf:
          - type: string
            enum:
            - string
            - number
            - integer
            - boolean
            - object
            - array
            - 'null'
          - type: 'null'
          title: Type
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
        format:
          anyOf:
          - type: string
          - type: 'null'
          title: Format
        pattern:
          anyOf:
          - type: string
          - type: 'null'
          title: Pattern
        enum:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Enum
        examples:
          anyOf:
          - items:
              $ref: '#/components/schemas/JsonValue'
            type: array
          - type: 'null'
          title: Examples
      type: object
      required:
      - name
      title: Variable
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ToolHttpEndpoint:
      properties:
        url:
          type: string
          title: Url
          description: The endpoint URL of the external service to call.
          examples:
          - https://api.example.com
        method:
          $ref: '#/components/schemas/ToolHttpMethod'
          description: The HTTP method to use for the service call.
          examples:
          - get
        argument_location:
          $ref: '#/components/schemas/ToolArgumentLocation'
          description: How to pass the arguments to the request.
          examples:
          - query
        timeout:
          anyOf:
          - type: number
            maximum: 120
            minimum: 1
          - type: 'null'
          title: Timeout
          description: Timeout in seconds for the HTTP request. Default 20 seconds when not set.
          examples:
          - 45.0
      type: object
      required:
      - url
      - method
      - argument_location
      title: ToolHttpEndpoint
      description: The configuration for an HTTP API call by a tool.
    InternalTool:
      properties:
        type:
          type: string
          const: function
          title: Type
          description: Always `function`.
          default: function
          examples:
          - function
        function:
          $ref: '#/components/schemas/ToolFunction'
          description: The tool function definition, including the JSON Schema of its parameters.
          examples: []
      type: object
      required:
      - function
      title: InternalTool
      description: A tool definition to be used by the OpenAI API.
    ConditionalValue:
      properties:
        value:
          anyOf:
          - $ref: '#/components/schemas/JsonValue'
          - type: 'null'
          description: Initial value of the variable.
        valueFrom:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: Valuefrom
          description: 'Expression that computes the value. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Mutually exclusive with value.'
          examples:
          - inputs.provided_dob == patient_dob
          - expression: inputs.provided_dob == patient_dob
            type: jmespath
          - expression: inputs.count + 1
            type: cel
        if:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          - type: 'null'
          title: If
          description: 'Condition to decide whether this item executes. Supported expression forms: (1) JMESPath string (default for plain strings), (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}. Example JMESPath string: "inputs.can_sign_consent == `true`".'
          examples:
          - inputs.can_sign_consent == `true`
          - expression: inputs.can_sign_consent == `true`
            type: jp
          - expression: inputs.can_sign_consent == true
            type: cel
      type: object
      title: ConditionalValue
    CallResultSaveMapping:
      properties:
        from:
          anyOf:
          - oneOf:
            - $ref: '#/components/schemas/CelExpression'
            - $ref: '#/components/schemas/JMESPathExpression'
            discriminator:
              propertyName: type
              mapping:
                cel: '#/components/schemas/CelExpression'
                jmespath: '#/components/schemas/JMESPathExpression'
                jp: '#/components/schemas/JMESPathExpression'
          - $ref: '#/components/schemas/CaseExpression'
          - type: string
          title: From
          description: 'Expression evaluated against the parsed tool response body (the JSON the external tool returned). Supported forms: (1) JMESPath string (default for plain strings) — a bare field name for raw passthrough, or a boolean/computed expression for derived values, (2) typed JMESPath object {"type":"jp"|"jmespath","expression":"..."}, or (3) typed CEL object {"type":"cel","expression":"..."}.'
          examples:
          - is_valid
          - readable_phone_number
          - status == 'valid'
        to:
          type: string
          title: To
          description: Workflow variable name to store the extracted value under.
      type: object
      required:
      - from
      - to
      title: CallResultSaveMapping
      description: 'One field-extraction mapping applied to a call action''s tool response.


        Example: {"from": "is_valid", "to": "is_valid"}

        Example (derived value): {"from": "status == ''valid''", "to": "is_valid"}'
    StaticToolParameterType:
      type: string
      enum:
      - string
      - int
      - boolean
      - data_source_list
      title: StaticToolParameterType
      description: The expected type for a static tool parameter.
    ContextToolInfo:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: The name of the generated tool.
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: The description of the tool.
      type: object
      title: ContextToolInfo
    LoadToolFromFileTask:
      properties:
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
          description: A unique identifier for the task.
        config:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/JsonValue'
            type: object
          - type: 'null'
          title: Config
        variables:
          anyOf:
          - items:
              $ref: '#/components/schemas/Variable'
            type: array
          - type: 'null'
          title: Variables
        metadata:
          anyOf:
          - $ref: '#/components/schemas/ContextTaskMetadata'
          - type: 'null'
        tool:
          anyOf:
          - $ref: '#/components/schemas/ContextToolInfo'
          - type: 'null'
        type:
          type: string
          const: import
          title: Type
          default: import
        version:
          type: string
          const: v1alpha
          title: Version
          default: v1alpha
        file:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: File
          description: The local path of the tool definition JSON file.
      type: object
      required:
      - file
      title: LoadToolFromFileTask
      description: Bootstraps a tool from a file (for internal developer use only if ENV.local=True).
    ToolFunction:
      properties:
        name:
          type: string
          title: Name
          description: The name of the function/tool call.
          examples:
          - get_weather
        description:
          type: string
          title: Description
          description: The description of the tool.
          examples:
          - Get the weather for a city
        parameters:
          title: Parameters
          description: The JSON Schema of parameters of the function/tool call.
          examples:
          - {}
      type: object
      required:
      - name
      - description
      - parameters
      title: ToolFunction
      description: 'A function available to an agent.


        See:

        - https://learn.microsoft.com/en-us/azure/ai-services/openai/how-to/function-calling'
    ToolResponse:
      properties:
        name:
          type: string
          title: Name
          description: The name of the tool
          examples:
          - Weather Fetcher
        definition:
          $ref: '#/components/schemas/ToolDefinition'
          description: The definition of the tool
          examples:
          - endpoint:
              argument_location: query
              method: get
              url: https://api.open-meteo.com/v1/forecast
            static_parameters:
            - default: fahrenheit
              description: Whether the temperature information should be fetched in Celsius or Fahrenheit
              name: temperature_unit
[...]
