openapi: 3.2.0
info:
  title: SyllableSDK Agents.test API
  description: '# Syllable Platform SDK


    Syllable SDK gives you the power of awesome AI agentry.'
  version: 0.0.3
servers:
- url: https://api.syllable.cloud
  description: API server
tags:
- name: agents.test
  description: Operations for testing agents with live text. These endpoints allow sending messages to an agent and receiving its responses.
paths:
  /api/v1/agents/test/messages:
    post:
      tags:
      - agents.test
      summary: Send New Message
      description: Send a new message
      operationId: send_test_message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestMessage'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestMessageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
      x-codeSamples:
      - lang: python
        label: Python (SDK)
        source: "import os\nfrom syllable_sdk import SyllableSDK\n\n\nwith SyllableSDK(\n    api_key_header=os.getenv(\"SYLLABLESDK_API_KEY_HEADER\", \"\"),\n) as ss_client:\n\n    res = ss_client.agents.test.send_test_message(request={\n        \"service_name\": \"<value>\",\n        \"source\": \"user@email.com\",\n        \"text\": \"Hello\",\n        \"test_id\": \"<id>\",\n        \"agent_id\": \"<id>\",\n    })\n\n    # Handle response\n    print(res)"
      - lang: typescript
        label: Typescript (SDK)
        source: "import { SyllableSDK } from \"syllable-sdk\";\n\nconst syllableSDK = new SyllableSDK({\n  apiKeyHeader: process.env[\"SYLLABLESDK_API_KEY_HEADER\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await syllableSDK.agents.test.sendTestMessage({\n    serviceName: \"<value>\",\n    source: \"user@email.com\",\n    text: \"Hello\",\n    testId: \"<id>\",\n    agentId: \"<id>\",\n  });\n\n  console.log(result);\n}\n\nrun();"
components:
  schemas:
    TestMessage:
      properties:
        service_name:
          type: string
          title: Service Name
          description: Name of the service producing the message
        source:
          type: string
          title: Source
          description: Name of the source of the message - identifies the user, like an email or username.
          examples:
          - user@email.com
        text:
          anyOf:
          - type: string
          - type: 'null'
          title: Text
          description: The text of the message
          examples:
          - Hello
        test_id:
          type: string
          title: Test Id
          description: Channel-manager-side ID of the session (see Session.channel_manager_sid)
        agent_id:
          type: string
          title: Agent Id
          description: ID of the agent with which the chat is taking place
        org_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Org Name
          description: 'Unused: Name of the organization associated with the agent'
          deprecated: true
        override_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          title: Override Timestamp
          description: Override for the timestamp of the message
        session_start:
          type: boolean
          title: Session Start
          description: Whether this message is the start of a new session
          default: false
      type: object
      required:
      - service_name
      - source
      - test_id
      - agent_id
      title: TestMessage
      description: Message sent in a test chat with an agent.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TestMessageResponse:
      properties:
        test_id:
          type: string
          title: Test Id
          description: Channel-manager-side ID of the session (see Session.channel_manager_sid)
        agent_id:
          type: string
          title: Agent Id
          description: ID of the agent with which the chat is taking place
        text:
          type: string
          title: Text
          description: The text of the message that elicited the response
        response:
          anyOf:
          - {}
          - type: 'null'
          title: Response
          description: The response from the agent
        response_text:
          type: string
          title: Response Text
          description: The text of the response
      type: object
      required:
      - test_id
      - agent_id
      - response
      title: TestMessageResponse
      description: Response from an agent in a test chat.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: Syllable-API-Key
x-speakeasy-name-override:
- operationId: .*_list$
  methodNameOverride: list
- operationId: .*_create$
  methodNameOverride: create
- operationId: .*_update$
  methodNameOverride: update
- operationId: .*_upload$
  methodNameOverride: upload
- operationId: .*_delete$
  methodNameOverride: delete
- operationId: .*_get_by_id$
  methodNameOverride: get_by_id
- operationId: .*_get_by_name$
  methodNameOverride: get_by_name
- operationId: .*_add$
  methodNameOverride: add
- operationId: .*_remove$
  methodNameOverride: remove
- operationId: .*_results$
  methodNameOverride: results
- operationId: .*_queue_work$
  methodNameOverride: queue_work
- operationId: .*_activate$
  methodNameOverride: activate
- operationId: .*_inactivate$
  methodNameOverride: inactivate
- operationId: .*_list_files$
  methodNameOverride: list_files
- operationId: .*_move_files$
  methodNameOverride: move_files
- operationId: .*_upload_file$
  methodNameOverride: upload_file
